html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top h1{
	font-size: 38px;
	color: #4e5154;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */

.list_usu{
    width: 99%;
    border-spacing: 1px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.list_usu thead td{
    text-align: center;
    	color: white;
	background: #4b93ad;
    vertical-align: top;
    text-align: left;
}



.list_usu thead tr{
    border: none;	
}


.list_usu td{
    font-size: 9px;
    padding-bottom: 10px;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #1CC0DA;
    border-style: solid;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;

}

.list_usu tbody td{
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    //background: white;
}

.list_usu tbody td .box_acciones{
    position: absolute;
    right: 0px;
}
.list_usu tbody tr:first-child td{
    padding-top: 10px;
}


.list_usu tbody tr:hover{
    text-decoration: underline;
}

.list_usu tbody tr td a{
    text-decoration: none;
    color: #606060;
}



.list_usu td{
    border: none;
    padding-right: 10px;
    padding-left: 10px;
	text-align: left;
	vertical-align: middle;
}

#mascara_tabla {
    height: 255px;
    overflow: hidden;
}

.list_usu tr:nth-child(2n+1){
	background-color: rgb(225, 250, 255);
}



.list_usu tbody tr td a{
	color: #606060;
}

.list_usu tbody tr td ul li{
	list-style-type: none;
	padding-bottom: 5px;
    padding-top: 5px;
}

#tabla{
	width: 100%;
}



#box_emergente h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_emergente h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_emergente input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}


#box_emergente span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}

.list_usu td .fotousuario {
	background-size: cover;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-position: center center;
	display: inline-block;
}


#box_emergente #mensaje{
    padding-top: 10px;
    padding-left: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
}

.list_usu td button {
	visibility: visible;
	font-size: 10px;
	align-items: flex-start;
	text-align: center;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
	font-weight: 500;
}


.form li #email_int {
width: 350px;
}

.ciclo_alumno{
    margin-bottom: 30px;
}

.ciclo_alumno h2{
    font-size: 15px;
    margin-bottom: 10px;
}

.list_usu thead tr:first-child{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    text-align: center;
}

.list_usu thead tr:first-child td{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#info_alumn{
    width: 100%;
    margin-bottom: 25px;
}

#info_alumn td{
    text-align: left;
    padding-bottom: 5px;
    font-family: arial;
    color: navy;
    font-size: small;
}
    
#info_alumn th{
 padding-bottom: 5px;   
 color: navy;
 font-size: small;
}

#box_emergente.materias{
    width: 400px;
    margin-left: -230px;
}

#box_emergente.materias select{
    width: 100%;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 30px;
    text-transform: uppercase;
}

.ciclo_alumno .cobro{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nota{
 color: red;
padding-bottom: 5px;
font-size: 12px;
}

#info_alumn table{
    text-transform: uppercase;
}


.mensualidades_generadas{
    color: grey;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.mensualidades_generadas a{
   color: grey; 
}

.table thead tr td.normal {
  font-weight: normal;
}