html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top h1{
	font-size: 38px;
	color: #4e5154;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */







#list_usu thead td{
	color: white;
	background: #1CC0DA;
	
}


#list_usu td{
	border-color: #1CC0DA;
}




#list_usu tbody tr:hover td a{
	color: white;
}

#list_usu tbody tr td a{
	color: #606060;
}


#tabla{
	width: 100%;
}



#box_emergente h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_emergente h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_emergente input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}


#box_emergente span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}

.mostrar-opc{
    padding-bottom: 5px;
    display: block;
}

.box-buttom{
    display: none;
}
.table tr td button {
    width: 70px;
    margin-bottom: 5px;
}