#box_menus{
 display:none;   
}

#container header nav {
   display: none;
}

#container header {
border: none;
box-shadow: none;
}

#contenido{
    padding-top: 0px;
}

#box_img_foot,#button_ins{
  display: none;    
}


#container header{
    display: none;
}

.boxfil{
    display: none;
}

#box_img_foot{
    display: none;
}
.foto_alumno{
    display: none;
}

#box_top h1{
    
}

#datosUsu{
    display: block;
}

.mega-menu{
    display: none;
}

#box-notificaciones{
   display: none; 
}

#contenido{
    padding-top: 0px;
}
