html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}


#box_top h1{
    font-size: 38px;
    color: #4e5154;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}




#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}


table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 15px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
    min-width: 807px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}






#list_usu thead td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#list_usu thead td {
    color: white;
    background: #1CC0DA;
}
#list_usu td {
    border-color: #1CC0DA;
}
#list_usu tbody tr td a {
    text-decoration: underline;
}

#list_usu td button {
    visibility: visible;
    font-size: 11px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

#list_usu td input[type="text"]{
    width: 20px;
}


#list_usu thead td.puntos{
    font-weight: bold;
    color: black;
}
#list_usu tbody td span{
    color: black;
    font-weight: bold;
}

#list_usu tbody tr:hover {
    text-decoration: none;
}
#list_usu tbody td{
    cursor: auto;
}


.form li #email_int {
    width: 350px;
}

.form li #buscador_int {
    width: 355px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 588px;

}

/**/

#box_avisos p input{
    padding-left: 5px;
    width: 500px;
    height: 25px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
}

#box_avisos p textArea{

    width: 497px;
    height: 200px;
}
#box_avisos p{
    padding-bottom: 5px;
    font-size: 15px;
}

#box_avisos p button{
    background-color: #4e5154;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    /* margin-right: 25px; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-left: 408px; */
    width: 100px;
    margin-top: 5px;
    position: relative;
    left: calc(100% - 100px);
}
#box_avisos > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    background: rgba(255,0,0,.3);
}

#box_destinatarios{
    position: absolute;
    left: 575px;
    top: 20px;
    font-size: 15px;
    /*background: red !important;*/
}
#box_destinatarios ul{

}
#box_destinatarios p{
    padding-bottom: 10px;
}
#box_destinatarios ul li{
    list-style-type: none;
    padding-bottom: 5px;
}



#box_files{
    font-size: 15px;
    position: absolute;
    left: 32px;
    top: 517px;
   // width: 355px;
}
#box_files  p{
    padding-bottom: 10px;
}

#box_files p span{
    font-size: 12px;
}

#box_files #list_archivos li{
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}
#box_files #list_archivos li span{
text-decoration: underline;
font-size: 13px;
cursor: pointer;
color: #1CC0DA;
font-weight: 800;
padding-left: 10px;
}



#files{
    display: none;
}

#box-editor{
    padding-top: 10px;
    width: 100%;
}



.boxfil_aviso {
    width: 300px;
    padding: 50px;
    //min-height: 250px;
    background: white;
    position: fixed;
    right: 38px;
    top: 141px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    cursor: move;
    box-shadow: 1px 1px 6px black;
    -webkit-box-shadow: 1px 1px 6px black;
    -moz-box-shadow: 1px 1px 6px black;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 20;
    padding-left: 25px;
    padding-right: 30px;
    visibility: hidden;
    opacity: 0;
}
.boxfil_aviso p{
    padding-bottom: 10px;
}
.boxfil_aviso input {
    width: 100%;
box-shadow: 1px 2px 4px gray;
-moz-box-shadow: 1px 2px 4px gray;
-webkit-box-shadow: 1px 2px 4px gray;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    height: 25px;
}



.boxfil_aviso h1 {
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 10px;
}
.boxfil_aviso input[type="text"], .boxfil_aviso input[type="search"]{
    padding-left: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
box-shadow: 1px 2px 4px gray;
-moz-box-shadow: 1px 2px 4px gray;
-webkit-box-shadow: 1px 2px 4px gray;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 307px;
    height: 25px;
    margin-bottom: 5px;
}

.boxfil_aviso  select {
    width: 309px;
    margin-bottom: 0px;
    box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

.boxfil_aviso  button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    font-weight: 500;
    width: 80px;
    height: 25px;
    font-size: 13px;
    margin-right: 10px;
}



#box_avisos{
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    /*margin-right: 35px;*/
    outline: 1px solid red;
}

#box-tabla{
    display: inline-block;
    vertical-align: top;
}

#box-tabla{
    margin-top: 90px;
    width: 100%;
}

.box-tutores{
    display: inline-block;
    margin-left: 15px;
}
.formulario{
    width: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formulario_item{
    flex: auto;
}
