html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
nav ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle }
label, input[type=button], input[type=submit], button { cursor: pointer }

input{padding-left:5px;}

html, body{
   height: 100%;
   font-family: 'Raleway', sans-serif;
}


#container{
	width: 100%;
	background-image: url(../images/background_login.png);
        background: #666;
	height: 100%;
	background-size: cover;
}


#contenido{
	width:980px;
	height: 100%;
	margin: auto;
	position: relative;
	/* Firefox */
	height: -moz-calc(100% - 60px);
	
	/* WebKit */
	height: -webkit-calc(100% - 60px);
	
	/* Opera */
	height: -o-calc(100% - 60px);
	
	/* Standard */
	height: calc(100% - 60px);
}

#box_login{
	width: 400px;
	padding: 40px;
	height: 488px;
	background: #122B31;
	background-color: rgba(18, 43, 49, 0.7);
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -285px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 18px #000;
	-webkit-box-shadow: 2px 3px 9px #000;
	-moz-box-shadow: 0px 2px 18px #000;
	border-style: solid;
	border-width: 1px;
	border-color: #019FC1;
	color: white;
	font-size: 16px;
            background: white;
            color: #666;
}

#box_login p{
	padding-bottom: 10px;
}

#box_login h1{
  font-size: 30px;
  padding-bottom: 30px;
  color: white;
  padding-top: 95px;
  color: #666;
}

#box_login  .box_pass #confir, #box_login  .box_pass #pass{
	width: 335px;
	border: none;
	background: none;
	height: 50px;
	margin-left: 60px;
	background: trasnparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}

#pass:focus , #confir:focus{
   outline: none;
}

#box_login  #box_user{
    width: 100%;
	background-image: url(../images/input_user.png);
	height: 54px;
	background-repeat: no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}


#user:-moz-placeholder, #pass:-moz-placeholder {
   font-size: 13px;
    color:#606060;
} 
#user::-webkit-input-placeholder , #pass::-webkit-input-placeholder{
   font-size: 13px;
   color:#606060;
} 
#user:-ms-input-placeholder, #pass:-ms-input-placeholder  {
   font-size: 13px;
    color:#606060;
} 

#buttonLogin{
	background-color: #69BA30;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	color: white;
	font-size: 21px;
	padding-left: 15px;
	padding-right: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 18px #000;
	-webkit-box-shadow: 2px 3px 9px #000;
	-moz-box-shadow: 0px 2px 18px #000;
	margin-left: 240px;
}

#buttonLogin:focus{
outline: none;
}

.error{
	color: #1cc0da;
	font-size: 15px;
        color: #666;
}

.email{
	font-weight: bold;
}

#box_img_foot{
	height: 50px;
	width: 1200px;
	position: relative;
	margin: auto;
	font-size: 13px;
	color: white;
}

#box_img_foot img{
	margin-bottom: 10px;
}


#box_login  .box_pass{
    width: 100%;
	background-image: url(../images/input_pass.png);
	height: 54px;
	background-repeat: no-repeat;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
            border-style: solid;
    border-width: 1px;
    border-color: gray;
    
}
#olvide{
	font-size: 13px;
	color: white;
	position: absolute;
	bottom: 15px;
	right: 44px;
}

#box_login a{
	color: #666;
	margin-left: 10px;
}

