.list-design{
    list-style: none;
}
.list-design div {
    width: 100%;
    color: #fff;
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-disaing div i{
    margin-right: 50px;
}
.box-filter-reportes{
    margin-bottom: 20px;
}
.filtros{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4F52BA;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    width:100%;
}
.buscar-li{
    background: #000;
    outline: solid 1px red;
    display: none;
}
.display-none{
    display: none !important;
}
h2.filtros {
    color: #fff !important;
    font-size: 20px !important;
}
.custom-shadow{
    background: #000;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.text-white{
    margin-right: 5px;
    display: none !important;
}
.chck{
    background: red;
}
.destinatarios{
    list-style: none;
    /*background: red;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.destinatarios li{
    position: relative;
}
.destinatarios li ul{
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all .3s;
}
.destinatarios li ul li{
    display: flex;
}
.alumnos ul{
    display: none;
}
.alumnos:checked ~ ul{
    /*display: flex;*/
    opacity: 1;
}
.formulario textarea{
    height: 300px;
}
.formulario button{
    margin-top: 2em;
    width: 100px;
    font-size: 1em;
    position: relative;
    left: calc(100% - 100px);
}
.archivos{
    margin-top: 2em;
}