html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}


#box_top h1{
	font-size: 38px;
	color:#1CC0DA;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}




#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}

#lists_seccions li{
	list-style-type: none;
	vertical-align: top;
	margin-right: 65px;
	display: inline-block;
	font-size: 13px;
	color: #606060;
	text-align: center;
	padding-bottom: 44px;
}


table td{
	vertical-align: top;
}

#box_top{
	margin-bottom: 30px;
}

#column_two{
	padding-left: 30px;
	width: 330px;
}

#lists_seccions li h2{
	font-size: 19px;
	text-align: center;
	padding-bottom: 10px;
}

#lists_seccions li img{
	margin-bottom: 10px;
}

#lists_seccions li:last-child{
	margin-right: 0px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */
.seccion{
	padding-bottom: 10px;
}

.seccion h2{
  font-size: 22px;
  color: #606060;
  font-weight: 500;
  padding-bottom: 10px;
}

#tabla {
   width: 100%;
}



.seccion .linea{
	display: block;
	width: 64px;
	height: 2px;
		border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #1CC0DA;
	margin-bottom: 20px;
}

#button_ins{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 588px;
	
}


#box_emergente.cursos_alumno {
width: 650px;
margin-left: -335px;
}
#box_emergente table {
width: 100%;
margin-bottom: 20px;
}

#box_emergente table tbody td {
font-size: 14px;
color: #606060;
padding-bottom: 10px;
vertical-align: middle;
}

#tabla_ofe td select {
width: 200px;
text-transform: uppercase;
}

#tabla_ofe td input {
width: 191px;
text-transform: uppercase;
}

#list_usu thead td {
text-align: center;
padding-left: 5px;
padding-right: 5px;
}
#list_usu thead td {
color: white;
background: #1CC0DA;
}
#list_usu td {
border-color: #1CC0DA;
}
#list_usu tbody tr td a {
text-decoration: underline;
}

#list_usu td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    width: 100px;
}

#list_usu tbody tr td img {
margin-right: 5px;
cursor: pointer;
position: relative;
top: 5px;
left: 5px;
}

#box_emergente input[type="checkbox"]{
    margin-right: 20px;
}


#datos table td{

    padding-right: 20px;
    font-size: 11px;
    padding-bottom: 10px;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}

.form li #email_int{
    width: 350px;
    
}

.form li #buscador_int{
    width: 355px;
}

#box_emergente  table td select {
    width: 230px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    height: 26px;
}

#box_emergente table td input {
    width: 223px;
    height: 24px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}