html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#column_one{
	width: 100%;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top h1{
	font-size: 38px;
	color:#48CFA4;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */

.fondo{
    background: white;

    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 50px;

}




#list_usu thead td{
	color: white;
	background: #48CFA4;
	
}


#list_usu td{
	border-color: #48CFA4;
}



#list_usu tbody tr:hover td{
	background:#606060;
	background-color: rgba(96, 96, 96, 0.7);
	color: white;
}

#list_usu tbody tr:hover td a{
	color: white;
}

#list_usu tbody tr td a{
	color: #606060;
}


#list_usu tbody tr td img{
	margin-right: 15px;
	cursor: pointer;
}


#tabla{
	width: 100%;
}



#box_buscador{
	width: 510px;
	height: 164px;
	padding: 25px;
	background: white;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -82px;
	margin-left: -280px;
	box-shadow: 2px 1px 9px gray;
	-webkit-box-shadow: 2px 1px 9px gray;
	-moz-box-shadow: 2px 1px 9px gray;
	visibility: hidden;
	opacity: 0;
}

#box_buscador h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_buscador h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_buscador input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}

#box_buscador ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
	font-size: 12px;
}

#box_buscador ul li input{
	margin-right: 10px;
}

#box_buscador span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}

#list_usu td .fotousuario {
	background-size: cover;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-position: center center;
	display: inline-block;
}

#box_form h1{
	font-size: 25px;
	color: #39D6A4;
	font-weight: 100;
	padding-bottom: 15px
}

#box_form p{
	padding-bottom: 15px;
	font-size: 13px;
}
#box_form{
	padding: 20px;
	background: white;
	position: relative;
	    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	height: 294px;
}

#box_form p.titulo{
   padding-bottom: 5px;
}
#box_form button{
	background: #39D6A4;
	padding: 8px 13px 8px 13px;
	font-size: 13px;
	margin-left: 181px;

}

#box_menus #usu_login{
	color: #48CFA4;
}
#mostrar {
color: #48CFA4;
}

#box_form input:focus {
   outline: none;
}

#box_form input{
	width: 250px;
	height: 25px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: none;
	background: #606060;
	background-color: rgba(96, 96, 96, 0.2);
}

#box_menus h2{
	color: #48CFA4;
}

#box_menus ul li{
	border-color: #48CFA4;
}

#box_emergente{
color: #48CFA4;	
}
#box_emergente h1 {
	font-size: 37px;
	color: #48CFA4;
	font-weight: 100;
	margin-bottom: 15px;
}

#box_emergente p {
   padding-bottom: 20px;
}

#box_emergente button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-width: 60px;
	margin-right: 25px;
	background: #48CFA4;
}

#box_emergente span {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}

#box_emergente h1 img {
	vertical-align: middle;
	margin-right: 10px;
	position: relative;
    top: -5px;
}

#box_emergente table{
	width: 100%;
}
#box_emergente table td{
	padding-bottom: 15px;
}
#box_emergente table td select{
	width: 230px;
}
#box_emergente table td input{
	width: 223px;
	height: 24px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
}


.titulo{
	font-size: 16px;
	color: #48CFA4;
	font-weight: 100;
	margin-bottom: 6px;
}

#list_usu td button{
	background: none;

}

#box_emergente #buscar {
	padding-left: 5px;
	width:auto;
	height: auto;
	border:auto;

}


#list_usu td button{
    visibility: visible;
    font-size: 11px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}

#list_usu tbody tr td img {
    cursor: pointer;
    margin-left: 11px;
    position: relative;
    top: 3px;
    margin-right: 0px;
}

#Nombre{
font-weight: 500;
font-size: 20px;
padding-bottom: 10px;
}

#list_usu  tfoot td{
    font-weight: bold;
}

.seccion p{
    font-size: 15px;
font-weight: bold;
padding-bottom: 10px;
}

#datos_pago{
    padding-bottom: 20px;
}

.seccion .linea{
    border-color: #48CFA4;
}
.form li input{    
    border-color: #48CFA4;
}