html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}


#container header{
    position: fixed;
    top:0px;
}


#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}


table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}



.seccion .linea{
    display: block;
    width: 64px;
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #204d74;
    margin-bottom: 20px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#box_emergente.cursos_alumno {
    width: 650px;
    margin-left: -335px;
}
#box_emergente table {
    width: 100%;
    margin-bottom: 20px;
}

#box_emergente table tbody td {
    font-size: 12px;
    color: #606060;
    padding-bottom: 5px;
}

#tabla_ofe td select {
    width: 200px;
    text-transform: uppercase;
}

#tabla_ofe td input {
    width: 191px;
    text-transform: uppercase;
}

#list_usu thead td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#list_usu thead td {
    color: white;
    background: #1CC0DA;
}
#list_usu td {
    border-color: #1CC0DA;
}
#list_usu tbody tr td a {
    text-decoration: underline;
}

#list_usu td button {
    visibility: visible;
    font-size: 11px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

#list_usu tbody tr td img {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 5px;
}

#box_emergente input[type="checkbox"]{
    margin-right: 20px;
}

#box_emergente.box_seguimiento input{
    border: 1px solid #bbb;
    width: 140px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    width: 187px;
}

#list_ofertas ul,#list_tutores ul{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #204d74;
    margin-bottom: 20px;
    margin-bottom: 30px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 15px;
}

#list_ofertas li{
    max-width: 240px;
    vertical-align: bottom;
    margin-right: 0px;
}
#list_ofertas li select{
    margin-right: 15px;
}
.form li #buscador_ciudad{
    position: absolute;
    top: 43px;
    left: 0px;
    background: #1CC0DA;
    width: 240px;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 160px;
    overflow-y: auto;
}
.form li #buscador_ciudad li{
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
}
.form li #buscador_ciudad a {
    text-decoration: none;
    color: white;
}
.form li #buscador_ciudad li:last-child{
    padding-bottom: 10px;
}

#box_emergente.box_acciones{
    width: 850px;
    margin-left: -460px;
}

#box_emergente.box_acciones table tbody td {
    font-size: 10px;
    color: #606060;
    padding-bottom: 5px;
}



#box_emergente.box_seguimiento #list-historia{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 153px;
    margin-bottom: 20px; 

}


#box_emergente.box_seguimiento #list-historia li{
    list-style-type: none;
    font-size: 12px;
    color: #4e5154;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#box_emergente.box_seguimiento #list-historia li p{
    padding-bottom: 5px;
}
#box_emergente.box_seguimiento{
    width: 381px;
    margin-left: -220px;
    color: #4e5154;
}

#box_emergente.box_seguimiento h1{
    padding-bottom: 0px;
}


#box_emergente.box_seguimiento  input{
    box-shadow: 0px 1px 9px #1CC0DA;
    -webkit-box-shadow: 0px 1px 9px #1CC0DA;
    -moz-box-shadow: 0px 1px 9px #1CC0DA;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    width: 296px;
    height: 29px;
}

#box_emergente.box_seguimiento  select{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    width: 303px;
    height: 29px;
}


#box_emergente.box_seguimiento {
    width: 500px;
    margin-left: -280px;
    top: 50px;
}
#box_emergente.box_seguimiento input{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
}
#box_emergente.box_seguimiento textarea{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
    height: 45px;
    width: 492px;
}

#box_emergente.box_seguimiento button {
    background-color: #4e5154;
}


.requerido{
    color: red;
    font-size: 21px;
    position: absolute;
    top: 1px;
    left: -7px;
}


#box-ofertas-ins{
    margin-bottom: 15px;
}


#box-inscripcion table td button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;  
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
    margin-right: 0px;
}

#box-inscripcion{
    width: 750px;
    margin-left: -405px;
    margin-top: -250px;
}

#box-inscripcion table td{
    padding-bottom: 15px;
    padding-right: 20px;
}

#box-tutor{
    width: 663px;
    margin-left: -331px;
    margin-top: -250px;
}

#box-tutor table tr td:first-child{
    padding-right: 50px;
}

.delete-tutor{
    margin-top: 15px;
}