html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#box_top{
    margin-bottom: 30px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}





table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */






#list_usu thead td{
    color: white;
    background: #1CC0DA;
    vertical-align: top;

}


#list_usu td{
    border-color: #1CC0DA;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

/*
#list_usu tbody tr:hover td{
        background:#606060;
        background-color: rgba(96, 96, 96, 0.7);
        color: white;
}

#list_usu tbody tr:hover td a{
        color: white;
}
*/

#list_usu tbody tr td a{
    color: #606060;
    word-break: break-all;
}





#tabla{
    width: 100%;
}

.email{
    word-break: break-all;
}

#box_emergente h1{
    font-size: 37px;
    color: #4e5154;
    font-weight: 100;
    margin-bottom: 15px;
}
#box_emergente h1 img{
    vertical-align: middle;
    margin-right: 10px;
}
#box_emergente input[type="text"]{
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}


#box_emergente span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}




#list_usu thead td span{
    //position: absolute;
    cursor: pointer;
    position: relative;
    top:1px;
}


#list_usu td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

.spanEmail{
    position: absolute;
    right: 37px;
    top: 40px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}


#box-mensaje{
    position: relative;
    margin-bottom: 10px;
    //height: 200px;
}

#box-box{
    position: relative;
}

#box_emergente.send-email span{
    position: inherit;
    top: 0px;
    right: 0px;
    cursor: initial;
}

#box_emergente.send-email input{
    margin-bottom: 0px;
    width: 637px;
}

#box_emergente.send-email h1{
    margin-bottom: 0px;
}


#box_emergente.send-email {
    width: 645px;
    margin-left: -352px;
    top: 50px;
}



#box_emergente.send-email #buttonAdjuntar{
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
    color: #606060;
}

#files{
    position: absolute;
    visibility: hidden;
}

.table tbody tr td button {
    width: 75px;
}

#box_emergente.box_seguimiento #list-historia{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 153px;
    margin-bottom: 20px; 

}


#box_emergente.box_seguimiento #list-historia li{
    list-style-type: none;
    font-size: 12px;
    color: #4e5154;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#box_emergente.box_seguimiento #list-historia li p{
    padding-bottom: 5px;
}
#box_emergente.box_seguimiento{
    width: 381px;
    margin-left: -220px;
    color: #4e5154;
}

#box_emergente.box_seguimiento h1{
    padding-bottom: 0px;
}


#box_emergente.box_seguimiento  input{
    box-shadow: 0px 1px 9px #1CC0DA;
    -webkit-box-shadow: 0px 1px 9px #1CC0DA;
    -moz-box-shadow: 0px 1px 9px #1CC0DA;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    width: 296px;
    height: 29px;
}

#box_emergente.box_seguimiento  select{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    width: 303px;
    height: 29px;
}


#box_emergente.box_seguimiento {
    width: 500px;
    margin-left: -280px;
    top: 50px;
}
#box_emergente.box_seguimiento input{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
}
#box_emergente.box_seguimiento textarea{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
    height: 45px;
    width: 492px;
}

#box_emergente.box_seguimiento  p {
    padding-bottom: 10px;
}

#box_emergente.box_seguimiento button {
    background-color: #4e5154;
}




#list-colors{
    position: absolute;
    right: 24px;
    top:60px;
}

#list-colors li{
    vertical-align: top;
    margin-right: 10px;
    font-size: 10px;
    list-style-type: none;

}

#list-colors li div{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
}
#alta{
    background: lightgreen;
}

#media{
    background: yellow;
}

#baja,#nula{
    background: pink;
}

table tr td .box_seguimiento {
    width: 160px;
}


.seguimiento-masivo{
    width: 322px;
    margin-top: -172px;
}

.seguimiento-masivo textarea{
    height: 100px;

}