html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#files{
    visibility: hidden;
    position: absolute;
    top:-1000px;
}


#box_top h1{
    font-size: 38px;
    color:#1CC0DA;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}



#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

.list_usu tbody td{
    padding: 5px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}
.list_usu{
    width: 375px;
}
.list_usu tr:nth-child(2n+1){
    background-color: rgb(225, 250, 255);
}

.list_usu tbody tr td a{
    text-decoration: underline;
}



#tabla_ofe{
    //width: 600px;
    margin-bottom: 50px;
}
#tabla_ofe td{
    width: 233px;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    padding-right: 30px;
}

table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}



.seccion .linea{
    display: block;
    width: 64px;
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #1CC0DA;
    margin-bottom: 20px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    //margin-left: 588px;

}


#box_emergente table{
    width: 100%;
    margin-bottom: 20px;
}

#box_emergente table thead td{
    padding-bottom: 20px;
}

#box_emergente table tbody td{
    font-size: 14px;
    color: #606060;
    padding-bottom: 5px;
}

.list_usu thead td {
    color: white;
    background: #1CC0DA;
}
.list_usu thead td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.list_usu td {
    border-color: #1CC0DA;
    border-width: 0px;
}
#tabla_ofe td select{
    width: 200px;
    text-transform: uppercase;
}

#tabla_ofe td input{
    width: 191px;
    text-transform: uppercase;
}

#box_orientacion{
    // widows: 200px;
}

#box_emergente.cursos_alumno{
    width: 650px;
    margin-left: -335px;
}

#box_emergente.box_documentos{
    width: 800px;
    margin-left: -400px;
    min-height: 200px;
}


#box_emergente.box_documentos table thead td {
    padding-bottom: 20px;
    padding-right: 10px;
}

.list_usu td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}


#list_ofertas li {
    width: 240px;
}


.add_mat,.add_ponderacion{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;	
}


.list_evaluaciones tr{
    background: white;
}
.list_usu tr{
    background: white;  
}
.list_evaluaciones {
    width: 375px;
    border-spacing: 1px;
    //margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}


.list_evaluaciones thead td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.list_evaluaciones thead td {
    color: white;
    background: #1CC0DA;
    text-align: center;
}
.list_evaluaciones thead td{
    padding-bottom: 10px;
}

.list_evaluaciones tr:nth-child(2n+1){
    background-color: rgb(225, 250, 255);
}
.list_evaluaciones td {
    font-size: 9px;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #1CC0DA;
    border-style: solid;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    border-color: #1CC0DA;
    border-width: 0px;
}

.list_evaluaciones td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

.list_evaluaciones tbody td {
    padding: 5px;
    vertical-align: top;
}


.list_usu  td{
    font-size: 9px;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #1CC0DA;
    border-style: solid;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    border-color: #1CC0DA;
    border-width: 0px;
}

.list_usu thead td {
    padding-bottom: 10px;
}

.form li input[type='checkbox']{
    width: auto;
    box-shadow: none;
}


.box{
    display: inline-block;
    vertical-align: top;
}


.box:first-child{
    margin-right: 50px;
}


.form li .buscador_int{
    position: absolute;
    top: 43px;
    left: 0px;
    background: #1CC0DA;
    width: 240px;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 160px;
    overflow-y: auto;
}
.form li .buscador_int li{
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
    font-size: 11px;
}
.form li .buscador_int a {
    text-decoration: none;
    color: white;
}
.form li .buscador_int li:last-child{
    padding-bottom: 10px;
}

.oferta{
    background: lightcyan;
    padding: 20px;
    margin-bottom: 20px;
}

.auxiliares{
    margin-right: 10px;
    visibility: visible;
    font-size: 11px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

#box-layer{
    background: white;
    width: 825px;
    position: absolute;
    left: 50%;
    margin-left: -412px;
    margin-top: -245px;
    top: 50%;
    /* color: #1CC0DA; */
    padding: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tabla-checkbox,.tabla-select{
    width: 100%;
}
.tabla-checkbox td, .tabla-select td, .tabla-nombre td{
    padding-bottom: 13px;
    width: 33%;
}
.tabla-checkbox thead td, .tabla-select thead td,.tabla-nombre thead td{
    font-weight: bold;
    font-size: 13px;
}

#box-layer .button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #1CC0DA;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
}

#box-ingresar-pronderaciones{
    width: 100%;
}

#box-ingresar-pronderaciones tr td input {
    list-style-type: none;
    vertical-align: top;
    width: 179px;
    height: 25px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #1CC0DA;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}
#box-ingresar-pronderaciones tr td{
    font-size: 14px;
}
#box-ingresar-pronderaciones tr td .nombre_ponderacion{
    margin-right: 5px;
}

.add_ponderacion{
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_mat{
    margin-bottom: 24px;
}

.box .form li {
    list-style-type: none;
    vertical-align: top;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
}