
html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}


#container header{
	position: fixed;
	top:0px;
}

.box_top h1{
	font-size: 38px;
	color: #4e5154;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

.box_top{
	margin-bottom: 30px;
}

.box_top h1 span{
	color: #1CC0DA;
}

.box_top span{
	text-decoration: underline;
	cursor: pointer;
	color:#48CFA4;
}

.box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */




#list_usu thead td{
	color: white;
	background: #48CFA4;
	
}


#list_usu td{
	border-color: #48CFA4;
}

#list_usu tbody td table{
	width: 100%;
}

#list_usu tbody td table tr td{
	width: 50%;
	border: none;
	text-align: left;
     padding-left: 30px;

}
#list_usu tbody td .orientaciones tr{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #48CFA4; 
}

#list_usu tbody td .orientaciones tr td{
    padding-bottom: 5px;
    padding-top: 5px;
}
#list_usu tbody td .orientaciones tr:last-child{
    border: none;
}

#list_usu tbody td table tr td img{
	margin-left: 10px;
}
#list_usu tbody td table tr:hover td{
	background: none;
}
#list_usu tbody td table tr  td:hover{
	background: none;
}

#list_usu tbody tr:hover{
	background: none;
	color: #606060;
}





#list_usu tbody tr td a{
	color: #606060;
}




#list_usu thead tr{
	border: none;	
}

#list_usu tr{
	cursor: pointer;
}



#list_usu tbody td ul li{
	list-style: none;
	padding-bottom: 5px;
	
}


#tabla{
	width: 100%;
}

#box_nivel{
	margin-top: -94px;
}

#box_oferta{
	margin-top: -140px;
}


#box_emergente{
    width: 358px;
    margin-left: -179px;
}




#box_buscador{
	width: 510px;
	height: 164px;
	padding: 25px;
	background: white;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -82px;
	margin-left: -280px;
	box-shadow: 2px 1px 9px gray;
	-webkit-box-shadow: 2px 1px 9px gray;
	-moz-box-shadow: 2px 1px 9px gray;
	visibility: hidden;
	opacity: 0;
}

#box_buscador h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_buscador h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_buscador input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}

#box_buscador ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
	font-size: 12px;
}

#box_buscador ul li input{
	margin-right: 10px;
}

#box_buscador span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}

#list_usu td .fotousuario {
	background-size: cover;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-position: center center;
	display: inline-block;
}

#box_form h1{
	font-size: 25px;
	color: #39D6A4;
	font-weight: 100;
	padding-bottom: 15px
}

#box_form p{
	padding-bottom: 5px;
	font-size: 13px;
}
#box_form{
	padding: 20px;
	background: white;
	position: relative;
	    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.box_top p{
	padding-left: 55px;
	font-size: 13px;
	padding-top: 10px;
     font-weight: bold;
}

#box_form p.titulo{
   padding-bottom: 5px;
}
#box_form button{
	background: #39D6A4;
	padding: 8px 13px 8px 13px;
	font-size: 13px;
	margin-left: 181px;

}


#box_form input:focus {
   outline: none;
}



#box_form input{
	width: 250px;
	height: 25px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: none;
	background: #606060;
	background-color: rgba(96, 96, 96, 0.2);
}

#box_menus ul li{
	border: none;
	color: #39D6A4;
}

#box_menus ul li span{
color: #5B8A94;
}

#button_ins {
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
}

#box_menus ul li{
	border-color: #1CC0DA;
	border-style: solid;
    border-width: 0px 0px 0px 2px;
}

#box_oferta,#box_nivel,#box_subnivel {
margin-top: -140px;
position: absolute;
}

.box_img{
	position: absolute;
	right: 0px;
}


.table tr td i{
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    
}

.box-emergente-form {
    margin-top: -131px;
}

table tr td table{
    width: 100%;
}

table tr td table.orientaciones tr td{
    width: 50%;
}

table tr td table.orientaciones tr td:last-child{
    text-align: center;
}