html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#box_top h1{
    font-size: 38px;
    color: #4e5154;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}

#box_top{
    margin-bottom: 30px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}



table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}



#tabla{
    width: 100%;
}



#box_emergente h1{
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}



.form li #email_int {
    width: 350px;
}



#info_alumn{
    width: 100%;
    margin-bottom: 25px;
}

#info_alumn td{
    text-align: left;
    padding-bottom: 5px;
    font-family: arial;
    color: navy;
    font-size: small;
}

#info_alumn th{
    padding-bottom: 5px;   
    color: navy;
    font-size: small;
}



#info_alumn table{
    text-transform: uppercase;
}


.mensualidades_generadas{
    color: grey;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.mensualidades_generadas a{
    color: grey; 
}

.table thead tr td.normal {
    font-weight: normal;
}


#box_emergente {
    width: 315px;
    margin-left: -187px;
}



#box_emergente input {
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

#box_emergente select {
    width: 309px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}
#box_emergente p {
    padding-bottom: 0px;
}

#box_emergente textarea{
    height: 89px;
    width: 303px;
    margin-bottom: 15px;
}

#box_emergente #metodo_pago{
    margin-bottom: 15px;
}

.table tr td button {
    width: 108px;
    margin-bottom: 5px;
}

.mostrar-opc {
    padding-bottom: 5px;
    display: block;
}

.box-buttom {
    display: none;
}

#box_emergente.cargos_cubiertos h1{
    color: #4e5154;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
#box_emergente.cargos_cubiertos {
    width: 600px;
    margin-left: -330px;
}

#box_emergente.cargos_cubiertos .table{
    margin-bottom: 15px;
}

#box_emergente.cargos_cubiertos button{
    margin-left: 528px;
}
