html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}


#box_top h1 {
    font-size: 38px;
    color: #4e5154;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}




#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}


table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}






#list_usu thead td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#list_usu thead td {
    color: white;
    background: #1CC0DA;
}
#list_usu td {
    border-color: #1CC0DA;
}
#list_usu tbody tr td a {
    text-decoration: underline;
}

#list_usu td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

#list_usu td input[type="text"]{
    width: 20px;
}


#list_usu thead td.puntos{
    font-weight: bold;
    color: black;
}
#list_usu tbody td span{
    color: black;
    font-weight: bold;
}

#list_usu tbody tr:hover {
    text-decoration: none;
}
#list_usu tbody td{
    cursor: auto;
}


.form li #email_int {
    width: 350px;
}

.form li #buscador_int {
    width: 355px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 588px;

}
#box_menus ul li span b{
    padding-left: 24px;
    color: black;
}

#box_menus ul li #puntos_totales{
    padding-left: 47px
}


 #buscador_prestamo {
    position: absolute;
    top: 132px;
    left: 30px;
    background: gray;
    width: 240px;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 169px;
    overflow-y: auto;
    width: 306px;
    font-size: 11px;
}



 #buscador_prestamo a {
    text-decoration: none;
    color: white;
}

#buscador_prestamo li:last-child {
    padding-bottom: 10px;
}

 #buscador_prestamo li {
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
}

#buscador_prestamo li span{
    font-weight: bold;
}



.box-captura {
    margin-top: -200px;
}

.box-captura textarea{
    height: 80px;
}