html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */







#tabla{
	width: 100%;
}



#box_buscador{
	width: 510px;
	height: 164px;
	padding: 25px;
	background: white;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -82px;
	margin-left: -280px;
	box-shadow: 2px 1px 9px gray;
	-webkit-box-shadow: 2px 1px 9px gray;
	-moz-box-shadow: 2px 1px 9px gray;
	visibility: hidden;
	opacity: 0;
}

#box_buscador h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_buscador h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_buscador input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}

#box_buscador ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
	font-size: 12px;
}

#box_buscador ul li input{
	margin-right: 10px;
}

#box_buscador span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}


.spanCambiar{
    position: absolute;
    right: 37px;
    top: 47px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}



.box-ciclos {
    width: 300px;
    padding: 50px;
    background: white;
    position: fixed;
    right: 38px;
    top: 430px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    cursor: move;
    box-shadow: 1px 1px 6px black;
    -webkit-box-shadow: 1px 1px 6px black;
    -moz-box-shadow: 1px 1px 6px black;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 20;
    padding-left: 25px;
    padding-right: 30px;
}
.box-ciclos p{
    padding-bottom: 10px;
}
.box-ciclos input {
    width: 100%;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    height: 25px;
}



.box-ciclos h1 {
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 10px;
}
.box-ciclos input[type="text"], .box-ciclos input[type="search"]{
    padding-left: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 307px;
    height: 25px;
    margin-bottom: 5px;
}

.box-ciclos  select {
    width: 309px;
    margin-bottom: 0px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

.box-ciclos  button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    font-weight: 500;
    width: 80px;
    height: 25px;
    font-size: 13px;
    margin-right: 10px;
}

