html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */







#tabla{
	width: 100%;
}



#box_buscador{
	width: 510px;
	height: 164px;
	padding: 25px;
	background: white;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -82px;
	margin-left: -280px;
	box-shadow: 2px 1px 9px gray;
	-webkit-box-shadow: 2px 1px 9px gray;
	-moz-box-shadow: 2px 1px 9px gray;
	visibility: hidden;
	opacity: 0;
}

#box_buscador h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_buscador h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_buscador input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}

#box_buscador ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
	font-size: 12px;
}

#box_buscador ul li input{
	margin-right: 10px;
}

#box_buscador span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}

.boxfil input[type="checkbox"]{
    width: auto;
    height: auto;
    border: none;
    background: none;
    box-shadow: none;
}

.green {
    background: #dff0d8;
}

.yellow{
    background: #fcf8e3;
}

.red{
    background: #f2dede;
}


.navajowhite{
    background: #fcf8e3;
}

.table tbody tr:nth-child(2n+1).green td{
    background: #dff0d8;
}

.table tbody tr:nth-child(2n+1).pink td{
    background: #f2dede;

}


.table tbody tr:nth-child(2n+1).navajowhite td{
    background: #fcf8e3;
}

/*
.table > tbody > tr:nth-child(2n+1) > td{
    
}
*/

/*
#tabla-asistencias tbody tr.pink{
    background: pink;
}
#tabla-asistencias tbody tr:nth-child(2n+1).pink{
    background: pink;
}

#tabla-asistencias tbody tr.navajowhite{
    background: yellow;
}
#tabla-asistencias tbody tr:nth-child(2n+1).navajowhite{
    background: yellow;
}

#tabla-asistencias tbody tr.coral{
    background: lightcoral;
    color: white;
}
#tabla-asistencias tbody tr:nth-child(2n+1).coral{
    background: lightcoral;
}
*/

#lista-x{
    position: absolute;
    right: 0px;
    top: 53px;
    right: 30px;
}
#lista-x li{
    list-style-type: none;
    margin-bottom: 10px;
}

#lista-x li div{
    width: 20px;
    height: 20px;   
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}
#box-faltas{
    background: yellow;
}


