html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
nav ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle }
label, input[type=button], input[type=submit], button { cursor: pointer }

input{padding-left:5px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
}
textarea{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
#files{
    display: none;
}
html, body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}


#errorLayer{
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(120, 125, 130, 0.6);
    position: fixed;
    top: 0px;
    font-family: 'Raleway', sans-serif;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


#container{
    width: 100%;
    /* Firefox */
    min-height: -moz-calc(100% - 95px);

    /* WebKit */
    min-height: -webkit-calc(100% - 95px);

    /* Opera */
    min-height: -o-calc(100% - 95px);

    /* Standard */
    min-height: calc(100% - 95px);
    min-width: 980px;
    background-image: url(../images/violin.jpg);
    background-size: cover;
    background: #E2E1DF;
}

#container header{
    /* Firefox */
    width: -moz-calc(100% - 176px);

    /* WebKit */
    width: -webkit-calc(100% - 176px);

    /* Opera */
    width: -o-calc(100% - 176px);

    /* Standard */
    width: calc(100% - 176px);
    height: 90px;
    background: white;
    position: relative;
    padding-left: 88px;
    padding-right: 88px;
    box-shadow: 2px 1px 9px gray;
    -webkit-box-shadow: 2px 1px 9px gray;
    -moz-box-shadow: 2px 1px 9px gray;
    z-index: 10;

}

#container header #logo{
    position: absolute;
    top: 15px;
    width: 170px;
    left: 52px;
}
/*
#container header nav{
    position: absolute;
    right: 88px;
    top:32px;
    font-size: 13px;
    color: #606060;
}

#container header nav ul li{
    list-style-type: none;
    vertical-align: top;
    // padding-left: 35px;
    display: inline-block;
    position: relative;
    //padding-bottom: 20px;
    padding-bottom: 45px;
    cursor: pointer;

    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}

#list_menu{
    // max-width: 700px;
    display: table;
}
#container header nav ul li ul{
    position: absolute;
    left: 0px;
    background: #4b93ad;
    width: 170px;
    color: white;
    // top: 25px;
    top: 58px;
    z-index: 10;
    //border-width: 1px;
    box-shadow: 2px 9px 9px gray;
    -webkit-box-shadow: 2px 9px 9px gray;
    -moz-box-shadow: 2px 9px 9px gray;
    max-height:0px;
    overflow:hidden;
    -webkit-transition:max-height 0.3s linear;
    -moz-transition:max-height 0.3s linear;
    transition:max-height 0.3s linear;
    z-index: 1000;

}
#container header nav ul li ul li{
    display: block;
    padding: 7px;
    padding-left: 0px;
    padding-right: 0px;
}
#container header nav ul li ul li:last-child{
    border: none;
}


#container header nav ul li ul li:hover{
    background: #549eb9;
    color: white;

}



#container header nav ul li:hover ul{
    max-height:600px;

}
#container header nav ul li ul li a{
    color: white;
    padding-left: 10px;
}

#container header nav ul li ul li:hover a{
    color: white;

}

#container header nav ul li a{
    color: #606060;
    text-decoration: none;
    padding-bottom: 5px;
}
#container header nav ul li a:hover{
    color:#4b93ad;
}

#container header nav ul li a.selected{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: #1CC0DA;
}
*/

#box_img_foot{
    height: 95px;
    /* Firefox */
    width: -moz-calc(100% - 176px);

    /* WebKit */
    width: -webkit-calc(100% - 176px);

    /* Opera */
    width: -o-calc(100% - 176px);

    /* Standard */
    width: calc(100% - 176px);
    position: relative;
    margin: auto;
    font-size: 10px;
    color: #606060;
    min-width: 980px;
    padding-left: 88px;
    padding-right: 88px;
    box-shadow: 2px -1px 9px gray;
    -webkit-box-shadow: 2px -1px 9px gray;
    -moz-box-shadow: 2px -1px 9px gray;
    z-index: 0;
    background: white;
}

#box_img_foot img{
    margin-bottom: 10px;
    margin-top: 25px;
}


#contenido{
    //height: 95px;

    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: -o-calc(100% - 80px);
    width: calc(100% - 80px);
    position: relative;
    margin: auto;
    font-size: 10px;
    color: #606060;
    min-width: 980px;
    //padding-left: 88px;
    //padding-right: 88px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    //background-image: url(../images/violin.jpg);
    //background-size: cover;
}

#mascara_user{
    width: 93px;
    height: 93px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    background-image: url(../images/sin_foto.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    overflow: hidden;
}


#salir{
    cursor: pointer;
    position: absolute;
    right: 118px;
    font-size: 13px;
    top: 0px;
}
#salir img{
    vertical-align: middle;
    position: relative;
    top: -7px;
    left: -5px;
}

.form li{
    list-style-type: none;
    vertical-align: top;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 25px;
    position: relative;
}

.form li #buscador_int{
    position: absolute;
    top: 43px;
    left: 0px;
    background: #1CC0DA;
    width: 240px;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
   // text-transform: uppercase;
    max-height: 160px;
    overflow-y: auto;
}
.form li #buscador_int li{
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
}
.form li #buscador_int a {
    text-decoration: none;
    color: white;
}
.form li #buscador_int li:last-child{
    padding-bottom: 10px;
}

.form li input{
    list-style-type: none;
    vertical-align: top;
    width: 235px;
    height: 25px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #1CC0DA;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    //text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #b2b2b2;
    color: #333;
    padding: 0 0 0 7px;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form li select{
    width: 240px;
    text-transform: uppercase;
    box-shadow: 2px 1px 9px #b2b2b2;
    -webkit-box-shadow: 2px 1px 9px #b2b2b2;
    -moz-box-shadow: 2px 1px 9px #b2b2b2;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
    border: 1px solid #b2b2b2;
    color: #333;
    padding: 0 0 0 7px;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form li textarea{
    width: 238px;
    max-width: 492px;
    max-height: 142px;
    height: 60px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #1CC0DA;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 1px solid #b2b2b2;
    color: #333;
    padding: 0 0 0 7px;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

button{
    background: #1CC0DA;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
}

button:focus{
    outline: none;
}


#box_menus{
    padding-left: 20px;
    position: fixed;
    top: 140px;
}
#box_menus #usu_login{
    width: 100%;
    margin-bottom: 30px;
    color: #1CC0DA;
    color: #4e5154;
}

#box_menus  #usu_login tr td .nom_usu{
    padding: 10px 8px 10px 8px;
    background: white;
    font-size: 11px;
    width: 168px;
    text-align: center;
    position: relative;
}
#box_menus  #usu_login tr td .nom_usu #img_usu{
    width: 28px;
    height: 28px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right : 10px;
    background-size: cover;
    background-image: url(../images/sin_foto.png);

}
#box_menus  #usu_login tr td .opcion{
    width: 50px;
    height: 48px;
    background: white;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    position: relative;
}

#box_menus #usu_login tr td .opcion a{
    color: #4e5154;
    text-decoration: none;
}

#box_menus  #usu_login tr td .opcion .flechas{
    margin-right: 2px;
    margin-top: 19px;
}

#box_menus  #usu_login tr td .lineas{
    position: absolute;
    bottom: -5px;
    left: 0px;
}
#box_menus  #usu_login tr td {
    padding-right: 2px;
    font-size: 10px;
}

#box_menus  #usu_login tr td:last-child{
    padding-right: 0px;
}

#box_menus h2{
    font-size: 24px;
    color: #1CC0DA;
    font-weight: 100;
    padding-bottom: 25px;
}
#box_menus h2 img{
    margin-right: 10px;
}

#box_menus ul li{
    list-style-type: none;
    font-size: 16px;
    color: #5B8A94;
    background: white;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: #1CC0DA;
    width: 258px;
    cursor: pointer;
} 
#box_menus ul li a{
    text-decoration: none;
    color: #5B8A94;
}

#box_menus ul li ul{
    padding-top: 10px;
    padding-left: 15px;
    display: none;
}
#box_menus ul li ul li{
    padding: 0px;
    padding-left: 0px;
    font-size: 13px;
    border: none;
    width: auto;
    margin-bottom: 7px;
    list-style-image: url(../images/flecha_g.png);
}
#box_menus ul li:hover a.link{
    color: #1CC0DA;
}

#box_menus ul li ul li:hover a{
    color: #1CC0DA;
}

#box_menus ul li:hover span {
    color: #1CC0DA;
}
.foto_alumno{
    width: 60px;
    height: 50px;
    background-size: cover;
    background-image: url(../images/sin_foto.png);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

#box_button_mostrar{
    position: relative;
    height: 15px;
    width: 100%;
    margin-top: 10px;
}

#mostrar {
    color: #1CC0DA;
    font-size: 13px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

#box_alerta{
    padding: 30px;
    width: 300px;
    height: 100px;
    background: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 20px gray;
    -webkit-box-shadow: 0px 1px 20px gray;
    -moz-box-shadow: 0px 1px 20px gray;
    background: white;
    margin-left: -150px;
    margin-top: -50px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #bbb;
}

#box_alerta p{
    font-size: 18px;
    padding-top: 30px;	
}
#box_alerta button{
    background: #1CC0DA;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
    margin-left: 217px;
    margin-top: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
}


#list_usu{
    width: 99%;
    border-spacing: 1px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#list_usu thead td{
    text-align: center;
}



#list_usu thead tr{
    border: none;	
}
/*
#list_usu tr{
        cursor: pointer;
}
*/

#list_usu td{
    font-size: 9px;
    padding-bottom: 10px;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #1CC0DA;
    border-style: solid;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;

}

#list_usu tbody td{
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    //background: white;
}

#list_usu tbody td .box_acciones{
    position: absolute;
    right: 0px;
}
#list_usu tbody tr:first-child td{
    padding-top: 10px;
}


#list_usu tbody tr:hover{
    /*
        background: #1CC0DA;
        background-color: rgba(28, 192, 218, 0.6);
        color: white;
    */
    text-decoration: underline;
}
/*
#list_usu tbody tr:hover td a{
        color: white;
}
*/

#list_usu tbody tr td a{
    text-decoration: none;
    color: #606060;
}
/*
#mascara_tabla{
    height: 220px;
    overflow: hidden;
}
*/
#box_emergente{
    padding: 30px;
    width: 500px;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    left: 50%;
    top: 90px;
    position: absolute;
    margin-left: -280px;
    color: #1CC0DA;
}
#box_emergente h1{
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 20px;
}
#box_emergente textarea{
    width: 100%;
    height: 150px;
    //max-height: 150px;
    //max-width: 506px;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 1px 9px #1CC0DA;
    -webkit-box-shadow: 0px 1px 9px #1CC0DA;
    -moz-box-shadow: 0px 1px 9px #1CC0DA;
}
#box_emergente p{
    padding-bottom: 20px;
}

#box_emergente button{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#box_emergente .cerrar{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.seccion {
    padding-bottom: 10px;
}

.seccion h2 {
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}


.seccion .linea {
    display: block;
    width: 64px;
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #1CC0DA;
    margin-bottom: 20px;
}

.fondo {
    background: white;
    //-moz-border-radius: 20px;
    //-webkit-border-radius: 20px;
    //border-radius: 20px;
    padding: 30px;
    margin-bottom: 50px;
    min-height: 500px;
    position: relative;
}

#list_usu tbody tr td img {
    margin-right: 5px;
    cursor: pointer;
}
#list_usu thead td span {
    cursor: pointer;
}

#text_prueba{
    font-size: 25px;
    position: absolute;
    top: 10px;
    color: red;
    font-weight: bold;
}


/*Nuevos stylos*/
.table{
    width: 100%;
    font-size: 11px;
    color: #636E7B;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table thead tr td, .table tbody tr td, tfoot tr td{
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 9px;
    text-transform: uppercase;
}

.table thead tr  td {
    border-bottom-width: 2px;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;  
    color: #444;
    font-weight: bold;
}
.table thead tr td span{
    position: absolute;
    right: 1px;
    top: 16px;
    cursor: pointer;
}
.table tbody tr td button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500; 
}


.table > tbody > tr:nth-child(2n+1) > td {
    background-color: #f7f7f7;
}

.table tbody tr td a{
    text-decoration: none;
    color: #444;
}

.table tbody tr {
    cursor: pointer;
}
.table tr td ul li{
    list-style-type: none;
}

#box_top h1{
    font-size: 38px;
    color: #4e5154;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}

.info_alumn{
    width: 850px;
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 10px;
    //text-transform: uppercase;
    background-color: #f7f7f7;
}
.info_alumn th {
    padding-bottom: 5px;
    color: navy;
    font-size: small;
    text-align: left;
    padding: 5px;
}
.info_alumn td {
    padding-bottom: 5px;
    color: navy;
    font-size: small;
    text-align: left;
    padding: 5px;
}

.info_alumn table {
    text-transform: uppercase;
}

.info_alumn td button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500; 
}


.boxfil {
    width: 300px;
    padding: 50px;
    //min-height: 250px;
    background: white;
    position: fixed;
    right: 38px;
    top: 141px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    cursor: move;
    box-shadow: 1px 1px 6px black;
    -webkit-box-shadow: 1px 1px 6px black;
    -moz-box-shadow: 1px 1px 6px black;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 20;
    padding-left: 25px;
    padding-right: 30px;
}
.boxfil p{
    padding-bottom: 10px;
}
.boxfil input {

}





.boxfil h1 {
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 10px;
}
.boxfil input[type="text"], .boxfil input[type="search"], .boxfil input[type="date"], .boxfil input[type="number"]{
    width: 100%;
    box-shadow: 2px 1px 9px #f7f7f9;
    -webkit-box-shadow: 2px 1px 9px #f7f7f9;
    -moz-box-shadow: 2px 1px 9px #f7f7f9;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    height: 25px;
    padding-left: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #f7f7f9;
    -webkit-box-shadow: 2px 1px 9px #f7f7f9;
    -moz-box-shadow: 2px 1px 9px #f7f7f9;
    margin-bottom: 15px;
    //text-transform: uppercase;
    width: 307px;
    height: 25px;
    margin-bottom: 5px;
}
 

.boxfil  select {
    width: 309px;
    margin-bottom: 0px;
    box-shadow: 2px 1px 9px #f7f7f9;
    -webkit-box-shadow: 2px 1px 9px #f7f7f9;
    -moz-box-shadow: 2px 1px 9px #f7f7f9;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

.boxfil  button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    font-weight: 500;
    width: 80px;
    height: 25px;
    font-size: 13px;
    margin-right: 10px;
}

.spanfiltros{
    position: absolute;
    right: 37px;
    top: 20px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.boxUlBuscador{
    position: relative;
}
.Ulbuscador{
    position: absolute;
    top: 41px;
    left: 0px;
    background: #1CC0DA;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 160px;
    overflow-y: auto;
    width: 102%;
}

.Ulbuscador li{
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.Ulbuscador li:last-child{
    padding-bottom: 10px;
}

#box-notificaciones{
    position: fixed;
    right: 0px;
    top: 91px;
    background: #4e5154;
    color: white;
    z-index: 1000;
    width: 230px; 
    box-shadow: -4px 1px 9px gray;
    -webkit-box-shadow: -4px 1px 9px gray;
    -moz-box-shadow: -4px 1px 9px gray;
    visibility: hidden;
    opacity: 0;
}

#box-notificaciones h2{
    font-size: 20px;
    padding-bottom: 10px;
    color: deepskyblue;
}
#box-mascara-noti{
    padding: 10px;
}


#box-notificaciones #cerrarNot{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 15px;
}

#list-noificaciones{
    max-height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
}

#list-noificaciones li{
    list-style-type: none;
    padding-bottom: 15px;
    font-size: 12px;
}
#list-noificaciones li a{
    color: white;
    text-decoration: none;
}


#list-noificaciones li a:hover{
    text-decoration: underline;
}
#list-noificaciones li span{
    //font-size: 11px;
}
#list-noificaciones li p{
    padding-bottom: 5px;
}

#list-noificaciones li button{
    visibility: visible;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 9px;
    margin-right: 10px;
}





#errorLayerSelector{
    width: 100%;
    height: 100%;
    z-index: 500;
    position: fixed;
    top: 0px;
    font-family: 'Raleway', sans-serif;
    visibility: hidden;
    opacity: 0;
}


#box-selector{
    width: 500px;
    background-color: rgb(238, 238, 238);
    z-index: 2000;
    position: absolute;
    padding: 25px;
    left: 50%;
    top: 50%;
    color: rgb(34, 34, 34);
    margin-left: -262px;
    margin-top: -262px;
    box-shadow: 0px 0px 15px gray;
    -webkit-box-shadow: 0px 0px 15px gray;
    -moz-box-shadow: 0px 0px 15px gray;
}

#box-selector h1{
    font-size: 20px;
    margin-bottom: 15px;
}

#box-selector .list-img li{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    cursor: pointer;
    background-size: cover;
}

#box-selector .list-img{
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
    margin-bottom: 10px;
}

#box-selector .cancelar{
    cursor: pointer;
    text-decoration: underline;
}

#icon-lista-de-tareas{
    position: absolute;
    right: -20px;
    top: 0px;
    font-size: 18px;
}

#box-count-tareas a{
    color: white;
    text-decoration: none;
}


#box-count-tareas{
    position: absolute;
    right: -27px;
    top: -5px;
    font-size: 10px;
    background-color: #b94a48;
    color: white;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    vertical-align: top;
    margin: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    cursor: pointer;
}




.box-filter-reportes{
    position: absolute;
    right: 37px;
    top: 20px;  
}

.box-filter-reportes ul li{
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.box-filter-reportes ul li:hover{
    color: black;
    text-decoration: underline;
}


.box-filter-reportes ul li:hover i{
    text-decoration: underline; 
}



/*
*/
.black{
    position: absolute;
    right: 88px;
    top: 32px;
    font-size: 13px;
    color: #606060;
}
.black ul.mega-menu{
    border-right: 0px;
    border-left: 0px;
}
.black ul.mega-menu{
    background: none;
}
.black ul.mega-menu li{
    font-weight: normal;
    color: #606060;
    list-style-type: none;
}

.black ul.mega-menu li a{
    background: none;
    color: #606060;
    text-shadow: none;
    padding: 12px 10px 12px 10px;
}

.black ul.mega-menu li.mega-hover a, .black ul.mega-menu li a:hover {
    background-position: 0px; 
    color: #000;
    text-shadow: none;
}

.black ul.mega-menu li .sub a{
    font-size: 11px;
}

.td-center{
    text-align: center;
}

.box-emergente-form {
    width: 315px;
    margin-left: -187px;
    padding: 30px;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -187px;
    color:black;
}

.box-emergente-form h1 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 20px;
}


.box-emergente-form select {
    width: 309px;
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}


.box-emergente-form  input[type="text"],.box-emergente-form  input[type="date"],.box-emergente-form  input[type="number"],.box-emergente-form  input[type="color"],.box-emergente-form  input[type="password"] {
    padding-left: 5px;
    width: 300px;
    height: 25px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
}



.box-emergente-form p {
    padding-bottom: 10px;
}

.box-emergente-form .Ulbuscador{
    width: 100%;
    font-size: 12px;
}


.box-emergente-form button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #1CC0DA;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
    background: #4e5154;
}




.box-emergente-form textarea {
    width: 301px;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 1px 9px #4e5154;
    -webkit-box-shadow: 0px 1px 9px #4e5154;
    -moz-box-shadow: 0px 1px 9px #4e5154;
}


#box_emergente.send-email h1{
    color: #4e5154;
}

#box_emergente.send-email input[type="text"]{
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
    
        margin-bottom: 0px;
    width: 637px;
    padding-left: 5px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    
}


#box_emergente.send-email h1{
    color: #4e5154;
}

#box_emergente.send-email button{
    background-color: #4e5154;
}

.boton-normal{
    visibility: visible;
    font-size: 11px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}


#box_emergente.send-email span{
    position: inherit;
    top: 0px;
    right: 0px;
    cursor: initial;
}




#box_emergente.send-email h1{
    margin-bottom: 0px;
    font-size: 37px;
    font-weight: 100;
    padding-bottom: 20px;
}


#box_emergente.send-email p{
    padding-bottom: 20px;
}

#box_emergente.send-email {
    width: 645px;
    margin-left: -352px;
    top: 50px;
}

#box_emergente.send-email #list_archivos li span{
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}

#box_emergente.send-email #buttonAdjuntar{
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
    color: #606060;
}

#box_emergente.send-email #box-mensaje {
    position: relative;
    margin-bottom: 10px;
}

.send-email #list_archivos li{
    list-style-type: none;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
}

.send-email #list_archivos li i{
    font-size: 15px;
    cursor: pointer;
}

#myModal{
    position: absolute;
}

.box_top {
    margin-bottom: 30px;
}
.box_top h1 {
    font-size: 38px;
    color: #4e5154;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}

span.campo-requerido{
    color: red;
    font-size: 32px;
    vertical-align: bottom;
    display: inline-block;
    line-height: 0px;

}

.green {
    background: #dff0d8;
}

.yellow{
    background: #fcf8e3;
}

.red{
    background: #f2dede;
}

.blue{
    background: #337ab7;
}
.table > tbody > tr.pink{
     background: #f2dede;
}
.table > tbody > tr:nth-child(2n+1).pink > td {
     background: #f2dede;
}

.table > tbody > tr.green{
   background: #dff0d8;
}

.table tbody > tr:nth-child(2n+1).green td{
    background: #dff0d8;
}

.table > tbody > tr.yellow{
    background: #fcf8e3;
}
.table > tbody > tr:nth-child(2n+1).yellow > td {
    background: #fcf8e3;
}

.btns{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btns-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btns-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btns-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btns-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btns-primary.active, .btns-primary:active {
    background-color: #265a88;
    border-color: #245580;
}

.btns-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.btns-default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btns-default.active, .btns-default:active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
}
