html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}


#box_top{
    margin-bottom: 30px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}



table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */







#list_usu thead td{
    color: white;
    background: #1CC0DA;

}


#list_usu td{
    border-color: #1CC0DA;
}




#list_usu tbody tr:hover td a{
    color: white;
}

#list_usu tbody tr td a{
    color: #606060;
}


#tabla{
    width: 100%;
}



#box_emergente h1{
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    //margin-bottom: 15px;
}
#box_emergente h1 img{
    vertical-align: middle;
    margin-right: 10px;
}
#box_emergente input[type="text"]{
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}


#box_emergente span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}

#list_usu td .fotousuario {
    background-size: cover;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-position: center center;
    display: inline-block;
}


#list_usu tbody tr td img {
    margin-right: 15px;
    cursor: pointer;
}


#list_usu td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}


/**/
#lista-actividades li{
    list-style-type: none;
    margin-bottom: 10px;

}

#lista-actividades li ul.tareas{
    margin-left: 40px;
}

#lista-actividades li ul.tareas li{
    border-bottom: 1px solid #F6F6F6;
    transition: background linear .2s;
    margin-bottom: 10px;
}

#lista-actividades li ul.tareas li .table > tbody > tr:nth-child(2n+1) > td{
    font-weight: normal;
}


#lista-actividades li .comentario-act{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    margin-left: 40px;
    margin-bottom: 10px;
    color: #777;
}

.asignado{
    background-color: #3FBB68;
    color: white;
    padding: 4px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
    overflow: hidden;
    /* word-break: normal; */
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.comentarios-tarea{
    color: black;
    padding: 4px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.mas{
    color: black;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

    color: gray;
    cursor: pointer;
    text-transform: lowercase;
    font-size: 10px;
}

.mas span{
    text-decoration: underline;  
}

#lista-actividades li ul.tareas li table tr td {
    border: none;
    background: none;
}

#lista-actividades li ul.tareas li table tr .mas i{
    font-size: 14px;
    visibility: visible;
}

.comentarios-tarea-completo{
    color: black;
    padding: 4px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* display: inline-block; */
    vertical-align: top;
    /* margin-right: 5px; */

    /* width: 305px; */
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: 8px 0 12px;
    color: #666;
    background: #F7F7F7;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: none;
}

.table tr td{
    border: none;
} 

.table > tbody > tr:nth-child(2n+1) > td{
    border: none; 
}

.button-tarea{
    background-color: #3FBB68!important;
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: 15px;
}

.button-tarea:hover{
    text-decoration: underline;
}

#lista-actividades li ul.tareas li:last-child{
    border: none;
}
#lista-actividades li ul.tareas li table tr td i{
    font-size: 13px;
    visibility: hidden;
}

#lista-actividades li ul.tareas li table tr:hover i{
    visibility: visible;
}

.table thead tr td, .table tbody tr td, tfoot tr td{
    background: #e9eaee;
    color: #666;
}

.table > tbody > tr:nth-child(2n+1) > td{
    background: #e9eaee; 
    color: #666;
    font-weight: bold;
}

.box-tareas{
    display: block;
}

.table tbody tr td i{
    font-size: 13px;
    margin-left: 5px;
    cursor: pointer;
}


#box_emergente.actividades{
    width: 310px;
    margin-left: -192px;
    top: 50%;
    margin-top: -171px;
}

#box_emergente.actividades select{
    width: 308px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 30px;
    text-transform: uppercase;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

#box_emergente p {
    padding-bottom: 10px;
}

#box_emergente.actividades input[type="text"], #box_emergente.actividades input[type="date"] {
    padding-left: 5px;
    width: 300px;
    height: 26px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 0px;
}

#box_emergente h1 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 10px;
}

#box_emergente textarea{
    height: 100px;
    width: 303px;
    font-size: 11px;
}


#box_emergente button {
    margin-right: 15px;
    font-size: 16px;
}

.prioridad-red{
    color: #c60808; 
}

.prioridad-green{
    color: #63ad63;
}

.prioridad-yellow{
    color: #d6b73b;
}

.prioridad-none{
    color: black;
}


.mas span.fechas{
    text-decoration: none;
    color: gray;
    margin-left: 10px;
    font-size: 11px;
    text-transform: none;
}


#box_emergente.box-tareas-emergente{
    width: 310px;
    margin-left: -192px;
    top: 50%;
    margin-top: -256px;
    font-size: 16px;
}

#box_emergente.box-tareas-emergente select{
    width: 308px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 30px;
    text-transform: uppercase;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    font-size: 11px;
}

#box_emergente p {
    padding-bottom: 10px;
}

#box_emergente.box-tareas-emergente input[type="text"], #box_emergente.box-tareas-emergente input[type="date"] {
    padding-left: 5px;
    width: 300px;
    height: 26px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 0px;
    font-size: 11px;
}

.box-usu{
    position: relative;   
}

.box-usu ul{
    position: absolute;
    top: 49px;
    left: 0px;
    background: #1CC0DA;
    width: 240px;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 160px;
    overflow-y: auto;
    width: 307px;
    font-size: 13px;
    color: white;
}

.box-usu ul li{
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
}


#nombre-usu{
    text-transform: uppercase;
}

.ui-tabs .ui-tabs-panel{
    padding-left: 0px;
    padding-right: 0px;
    min-height: 200px;
}

.ui-widget-content{
    color: #1CC0DA;
}


#box_emergente.box-tareas-emergente table{
    width: 100%;
}
#box_emergente.box-tareas-emergente table tr td {
    width: 50%;
    vertical-align: top;
    padding-right: 15px;
}
#box_emergente.box-tareas-emergente table tr td ul li{
    margin-bottom: 10px;
    list-style-type: none;
    color: black;
    font-size: 12px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    /* margin-left: 40px; */
    margin-bottom: 10px;
    color: #777;
    min-height: 20px;
}

#box_emergente.box-tareas-emergente table tr td ul li span{
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 9px;
    vertical-align: middle;
    display: inline-block;
    color: gray;
}

.ui-tabs .ui-tabs-nav li{
    font-size: 13px;
}

.ui-state-highlight {
    height: 1.5em; 
    line-height: 1.2em;
    opacity: .1;
    background-color: #F7F7F7;
}

#box_emergente.box-tareas-emergente table tr td #act-tab li{
    cursor: pointer;
}

#box_emergente.box-tareas-emergente table tr td ul li.actividad-activa{
    color: black;
}
/*
  .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
*/
  .ui-tooltip {
    color: black;
    font-size: 12px;
  }
  /*
  
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  */
  
  .box-input{
      display: inline-block;
  }
  
  
  .xxxx{
      //width: 100px;
      //height: 100px;
     // background: red;
  }
  .xxxx h2{
      padding-bottom: 10px;
  }
  .xxxx p{
      padding-bottom: 10px;
  }
  #list-tooltip-eme li{
      list-style-type: none;
      margin-bottom: 5px;
      vertical-align: middle;
  }
  
  
  .tareas-tab{
      position: absolute;
      visibility: hidden;
  }
  
  .box-i{
      display: inline-block;
  }
  
#lista-actividades li ul.tareas li table tr td .hidden-i i{
   visibility: hidden;
}

#tituloActividad{
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 10px;
}
