#box_top h1{
	font-size: 38px;
	color:#1CC0DA;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}




#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}

#lists_seccions li{
	list-style-type: none;
	vertical-align: top;
	margin-right: 65px;
	display: inline-block;
	font-size: 13px;
	color: #606060;
	text-align: center;
	padding-bottom: 44px;
}

#container{
	//height: auto;
}

table td{
	vertical-align: top;
}

#box_top{
	margin-bottom: 30px;
}

#column_two{
	padding-left: 30px;
}

#lists_seccions li h2{
	font-size: 19px;
	text-align: center;
	padding-bottom: 10px;
}

#lists_seccions li img{
	margin-bottom: 10px;
}

#lists_seccions li:last-child{
	margin-right: 0px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */
.seccion{
	padding-bottom: 10px;
}

.seccion h2{
  font-size: 22px;
  color: #606060;
  font-weight: 500;
  padding-bottom: 10px;
}

.fondo{
	width: 763px;
	background: white;
	 background-color: rgba(255, 255, 255, 0.6);
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 50px;

}

.seccion .linea{
	display: block;
	width: 64px;
	height: 2px;
		border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #1CC0DA;
	margin-bottom: 20px;
}

#button_ins{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 588px;
	
}

#box_menus{
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #1CC0DA;
		padding-left: 20px;
}

#box_menus h2{
	font-size: 24px;
	color: #1CC0DA;
	font-weight: 100;
	padding-bottom: 25px;
}
#box_menus h2 img{
margin-right: 10px;
}

#box_menus ul li{
	list-style-type: none;
	font-size: 16px;
	color: #5B8A94;
	background: white;
	margin-bottom: 10px;
	padding-left: 25px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 25px;
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #1CC0DA;
	width: 258px;
}


/*

*/
.fondo h1 {
	font-size: 38px;
	color: #1CC0DA;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 30px;
}

.fondo {
	background: white;
	background-color: rgba(255, 255, 255, 0.6);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 50px;
	width: 100%;
	position: relative;
}

.box_buscador{
	position: absolute;
	right: 30px;
	top: 30px;
}
.box_buscador input{
	width: 215px;
	height: 28px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
		border-style: solid;
	border-width: 2px;
	border-color: #1CC0DA;
	padding-left: 25px;

}

#list_usu{
	width: 100%;
	margin-bottom: 50px;
}
#list_usu thead td{
	font-weight: bold;
	text-align: center;
}
#list_usu thead tr{
	border: none;	
}

#list_usu tr{
		border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #1CC0DA;
	cursor: pointer;
}
#list_usu tbody tr:hover{
	background:#1CC0DA;
	background-color: rgba(28, 192, 218, 0.6);
	color: white;
}
#list_usu td{
	font-size: 13px;
	padding-bottom: 20px;
	position: relative;
	vertical-align: middle;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	text-align: center;

}

#list_usu td .fotousuario {
	background-size: cover;
	width: 77px;
	height: 77px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-position: center center;
}
#list_usu td p{
	padding-left: 90px;
	
}

#boxfil{
	width: 300px;
	padding: 50px;
	min-height: 250px;
	background:#1CC0DA;
	background-color: rgba(28, 192, 218, 0.8);
	position: fixed;
	right: 30px;
	top: 234px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	cursor: move;
	box-shadow: 1px 1px 6px black;
	-webkit-box-shadow: 1px 1px 6px black;
	-moz-box-shadow: 1px 1px 6px black;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 20;
}

#boxfil p{
	padding-bottom: 15px;
}
#boxfil select{
	width: 100%;
}

#boxfil  h1{
font-size: 28px;
font-weight: 100;
padding-bottom: 10px;
}