html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#files{
    visibility: hidden;
    position: absolute;
    top:-1000px;
}



#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#list_usu tbody td{
    padding-left: 5px;
padding-right: 5px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}
#list_usu tbody tr td a{
    text-decoration: underline;
}



#tabla_ofe{
    margin-bottom: 50px;
}
#tabla_ofe td{
    width: 233px;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    padding-right: 30px;
}

table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}



.seccion .linea{
    display: block;
    width: 64px;
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #204d74;
    margin-bottom: 20px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#box_emergente table{
    width: 100%;
    margin-bottom: 20px;
}
/*
#box_emergente table thead td{
    padding-bottom: 20px;
}
*/

#box_emergente table tbody td{
    font-size: 14px;
    color: #606060;
    padding-bottom: 0px;
    font-size: 10px;
}

#list_usu thead td {
    color: white;
    background: #1CC0DA;
}
#list_usu thead td {
    text-align: center;
    padding-left: 5px;
padding-right: 5px;
}
#list_usu td {
    border-color: #1CC0DA;
}
#tabla_ofe td select{
    width: 200px;
    text-transform: uppercase;
}

#tabla_ofe td input{
    width: 191px;
    text-transform: uppercase;
}

#box_orientacion{

}

#box_emergente.cursos_alumno{
    width: 650px;
    margin-left: -335px;
}

#box_emergente.box_documentos{
    width: 800px;
    margin-left: -445px;
    min-height: 200px;
    color: #606060;
    top: 175px;
}

#box_emergente.box_documentos h1{
    color: #606060;
}
#box_emergente.box_documentos table thead td {
    padding-right: 10px;
    color: #606060;
    font-weight: bold;
}

#box_emergente.box_documentos table tbody td{
    font-weight: normal;
}

#list_usu td button {
visibility: visible;
font-size: 11px;
align-items: flex-start;
text-align: center;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
font-weight: 500;
}


#list_ofertas li {
 width: 240px;
}

.motivos_baja{
    margin-left: -192px;
    margin-top: -162px;
}
.motivos_baja textarea{
    height: 100px;
}

#NombreAlumn{
    display: none;
}

.cambiar_plan{
    margin-top: -162px;
    margin-left: -184px;
}



.box-buttom{
    display: none;
}

.mostrar-opc{
    padding-top: 3px;
    display: block;
    font-size: 10px;
    cursor: pointer;
    padding-bottom: 5px;
}

.box-buttom button{
   width: 135px;
   margin-bottom: 5px;
}

.cambiar-oferta {
    margin-left: -192px;
    top: 50px;
}

#box-documentos-oferta{
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
}

.oferta-egresada{
    background: lightgreen;
}

.info_alumn th{
    color: black;
}

.info_alumn td{
    color: black;
}

#datosUsu{
    font-size: 14px;
    display: none;
}

.box-tutor{
    width: 663px;
    margin-left: -331px;
    margin-top: -250px;
}

.box-tutor table tr td:first-child{
    padding-right: 50px;
}
.delete-tutor{
    margin-top: 15px;
}

