#box_img_foot{
    display: none;
}

#container{
    display: none;
}

#box_emergente.box_documentos {
    width: 600px;
    margin-left: 0px;
    min-height: 0px;
    padding: 0px;
    position: relative;
    left: 0px;
    top:0px;
}

#box_emergente.box_documentos button{
    display: none;
}

#NombreAlumn{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
    display: block;
}



#box-documentos-oferta {
    overflow-y: auto;
    overflow-x: auto;
    height: auto;
}


