html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#box_top{
    margin-bottom: 30px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}



table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */







#tabla{
    width: 100%;
}



#box_buscador{
    width: 510px;
    height: 164px;
    padding: 25px;
    background: white;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -82px;
    margin-left: -280px;
    box-shadow: 2px 1px 9px gray;
    -webkit-box-shadow: 2px 1px 9px gray;
    -moz-box-shadow: 2px 1px 9px gray;
    visibility: hidden;
    opacity: 0;
}

#box_buscador h1{
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}
#box_buscador h1 img{
    vertical-align: middle;
    margin-right: 10px;
}
#box_buscador input[type="text"]{
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}

#box_buscador ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    font-size: 12px;
}

#box_buscador ul li input{
    margin-right: 10px;
}

#box_buscador span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}

.email_checkbox{
    width: 55px;
}

.email_checkbox input{
    position: relative;
    top:5px;
}

.spanEnviarmail {
    position: absolute;
    right: 37px;
    top: 45px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.table tr td button {
    width: 108px;
    margin-bottom: 5px;
}

.box-buttom {
    display: none;
}
.mostrar-opc {
    padding-bottom: 5px;
    display: block;
}

#box_emergente {
    width: 315px;
    margin-left: -187px;
}

#box_emergente textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 0px 1px 9px #1CC0DA;
    -webkit-box-shadow: 0px 1px 9px #1CC0DA;
    -moz-box-shadow: 0px 1px 9px #1CC0DA;
}

.table > tbody > tr:nth-child(2n+1) > td.evaluado{
    background: lightgreen;
}

.table thead tr td.evaluado, .table tbody tr td.evaluado, tfoot tr td.evaluado{
    background: lightgreen;
}