html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

.box_calendar{
    padding-bottom: 25px;
    border-width: 1px 0px 0px 0px;
    border-color: #1CC0DA;
    border-style: solid;
    padding-top: 10px;
    font-size: 11px;
}
.box_calendar .box_left{
    width: 140px;
}
.box_calendar .box_right , .box_calendar .box_left, .box_calendar .box_center{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.box_calendar .box_right h1{
    padding-top: 15px;
}

.box_calendar .box_right ul li{
    list-style-type: none;
    padding-bottom: 5px;
}

.box_calendar .box_right ul{
    overflow: hidden;
    max-height: 157px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100px;
}

.box_calendar h1{
    font-size: 11px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.box_calendar ul li{
    font-size: 11px;
    text-transform: uppercase;
}

#box_top{
    margin-bottom: 15px;
    position: relative;
}
#box_top span{
    position: absolute;
    right: 11px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
    top: 26px;
}
#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}


table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */

#tabla{
    width: 100%;
}

#box_emergente h1{
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}
#box_emergente h1 img{
    vertical-align: middle;
    margin-right: 10px;
}
#box_emergente input[type="text"]{
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
    text-transform: uppercase;
}


#box_emergente span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}

#box_menus ul li{
    background: #39C1D6;
    color: white;
}

#box_menus ul li:hover span{
    color: gray;
}

#box_menus ul li img{
    margin-right: 10px;
}


#mascara_tabla{
    height: auto;
}

#box_emergente ul{
    margin-left: 50px;
}
#box_emergente ul li{
    list-style-type: none;
    padding-bottom: 0px;	
}

#box_emergente.ciclos input, #box_emergente.aulas input{
    width: 300px;
    height: 25px;
}
#box_emergente.aulas select{
    width: 309px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

#box_emergente.ciclos p,#box_emergente.aulas p{
    padding-bottom: 10px;
}



/**/

button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}


#box_alerta{
    display:none;
}



.editar_ciclo{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

.box_calendar input{
    padding-left: 5px;
    width: 130px;
    height: 20px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}

#box_emergente .button{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #1CC0DA;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
}





.data_calendar span{
    text-transform: lowercase;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline
}

#ui-datepicker-div{
    font-size: 9px;
}

#button_parametros {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #1CC0DA;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
}

#box_menus ul li {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    width: 258px;
    cursor: pointer;
}

#box_emergente.grupos,#box_emergente.miscelaneos,#box_emergente.motivos_baja,#box_emergente.categorias{
    width: 325px;
    margin-left: -192px;
    top: 30px;
}
#box_emergente.grupos input,#box_emergente.miscelaneos input, #box_emergente.motivos_baja input,#box_emergente.categorias input{
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}


#box_emergente.grupos select,#box_emergente.categorias select{
    width: 309px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

#box_emergente.grupos p{
    padding-bottom: 0px;
}

#box_emergente.grupos h1{
    margin-bottom: 0px;
}



#box_emergente #list_alum {
    position: absolute;
    top: 126px;
    left: 30px;
    background: #1CC0DA;
    width: 306px;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 150px;
    overflow-y: auto;
    margin-left: 0px;
}


#box_emergente #list_alum li {
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}
#box_emergente #list_alum li:last-child{
    padding-bottom: 10px;
}


.con_disponibilidad{
    color: green;
    font-weight: bold;
}
.sin_disponibilidad{
    color: red;
    font-weight: bold;
}



#alumnos_grupo{
    width: 700px;
    margin-left: -380px;
    padding: 30px;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    left: 50%;
    top: 90px;
    position: absolute;
    color: #1CC0DA;
}

#alumos_del_grupo tr td i{
    font-size: 15px;
    cursor: pointer;
}

/*
#alumnos_grupo table{
    width: 100%;
}

#alumnos_grupo table tbody tr{
    background: white;
}

#alumnos_grupo table thead td{
    text-align: left;
    color: white;
    background: #4b93ad;
    vertical-align: middle; 
    font-size: 9px;
    text-transform: uppercase;
    padding: 5px;
}



#alumnos_grupo table tbody tr:nth-child(2n+1) {
   background-color: rgb(225, 250, 255);
}

#alumnos_grupo table tbody tr td{
   text-transform: uppercase;
   color: #606060;
   vertical-align: middle; 
   font-size: 9px;
   padding: 5px;
 
}
*/
#alumnos_grupo h1{
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
}

#alumnos_grupo button.button{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #1CC0DA;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
}



#alumnos_grupo table tr td button {
    visibility: visible;
    font-size: 9px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

#alumnos_grupo .clave_grupo{
    text-transform: uppercase;
    font-weight: bold;
}
#mascara_alumnos_grupo{
    overflow-y: auto;
    margin-bottom: 15px;
    overflow-x: hidden;
    min-height: 100px;
    max-height: 285px;
}

.form li select {
    width: 250px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

#buscargrupos{
    width: 300px;
}


#box_emergente  #buscar{
    width: 300px;
    height: 25px;
    margin-bottom: 0px;
}

#box_emergente .add{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    webkit-border-radius: initial;
    border-radius: initial;
    height: 28px;
    vertical-align: top;
    margin-left: 10px;
}

#box_emergente p{
    position: relative;
}

#box_emergente #lista_alumnos_add{
    margin-left: 0px;
    font-size: 13px;
    color: #4e5154;
    margin-bottom: 10px;
    width: 92%;
}

#box_emergente #lista_alumnos_add tr td{
    padding-bottom: 5px;
}

#box_emergente #lista_alumnos_add tr td button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    webkit-border-radius: initial;
    border-radius: initial;
    vertical-align: top; 
}

#box_emergente.tipos_usuarios {
    padding: 30px;
    width: 800px;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    left: 50%;
    top: 90px;
    position: absolute;
    margin-left: -430px;
    color: #1CC0DA;
    font-family: Raleway, sans-serif;
    font-size: 16px;
}
#box_emergente.tipos_usuarios h1{
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#box_emergente.tipos_usuarios #list_perm {
    margin-bottom: 20px;
    margin-left: 0px;
}

#box_emergente.tipos_usuarios #list_perm li {
    list-style-type: none;
    margin-right: 100px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    width: 160px;
}

#box_emergente.tipos_usuarios #list_perm li table {
    width: 100%;
}

#box_emergente.tipos_usuarios #list_perm li table tr td:first-child {
    width: 200px;
}

#box_emergente.tipos_usuarios table td {
    vertical-align: top;
}

#box_emergente.tipos_usuarios input[type="text"] {
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}
.table tbody tr td table tr td{
    border: none;
    background: none;
}

.table tbody tr td table{
    width: 100%;
}
.table tbody tr td table tr td span{
    cursor: pointer;
    text-decoration: underline;
}
.table tbody tr td table tr td:last-child{
    text-align: right;
}

#box_menus #usu_login {
    margin-bottom: 10px;
}

.list-param{
    padding-top: 20px;
}

.list-param li{
    display: inline-block;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    background: #f7f7f9;
    color: black;
    font-size: 13px;
    width: 215px;
    vertical-align: top;
    min-height: 116px;
    box-shadow: gray 1px 2px 5px;
}


.list-param li h1{
    margin-bottom: 10px;
    font-weight: normal;
}

.list-param li p{
    padding-bottom: 10px;
}

.list-param li p select{
    width: 220px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 24px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

#box_menus ul li i{
    margin-right: 5px;
    font-size: 15px;
}


.box-becas{
    margin-top:-215px;
}

.box-becas textarea{
    height: 70px;
}

.table tr td i{
    font-size: 15px;
    cursor: pointer;
    margin-right: 4px;
}

#box_emergente.conflicto, #box_emergente.buscador_alumno_grupo {
    color: #4e5154;
}
#box_emergente.conflicto h1, #box_emergente.buscador_alumno_grupo h1{
    padding-bottom: 0px;
    color: #4e5154;
}
#box_emergente.conflicto .table, #box_emergente.buscador_alumno_grupo .table{
    margin-bottom: 20px;
}

#box_emergente.conflicto button, #box_emergente.buscador_alumno_grupo button{
    background: #4e5154;
}

#add-alumno{
    display: inline-block;
    position: relative;
    top: 7px;
    margin-left: 10px;
    cursor: pointer;
}

#lista_alumnos_add tr td i{
    font-size: 15px;
    cursor: pointer;
}

.list-param input[type="text"]{
    width: 215px;
}

.lista-tipos-usuarios{
    margin-bottom: 10px;
}
.list-param li .lista-tipos-usuarios li{
    width: auto;
    min-height: auto;
    padding: 0px;
    margin: 0px;
    display: block;
    vertical-align: top;
    box-shadow: none;
}

.list-param li i{
    font-size: 14px;
    color: black;
}

.lista-periodos{
    width: 435px;
}
.lista-periodos td{
    padding-bottom: 10px;
}

.lista-periodos td i{
    cursor: pointer;
    font-size: 15px;
    margin-right: 5px;
}

.titulo-h2-periodos{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    display: inline-block;
}

.ui-widget-content .ui-state-inhabil{
    border: 1px solid #acdd4a;
}

.ui-widget-content .ui-state-inhabil  a{
    background: #606060;
    border: 1px solid #acdd4a;
}

.ui-widget-content .ui-state-examen{
    border: 1px solid #acdd4a;
}

.ui-widget-content .ui-state-examen  a{
    background: #00a65a;
    border: 1px solid #acdd4a;
}


.ui-widget-content .ui-state-vacaciones{
    border: 1px solid #acdd4a;
}

.ui-widget-content .ui-state-vacaciones  a{
    background: darkmagenta;
    border: 1px solid #acdd4a;
}

.box-color{
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
}

div.examenes{
    background: #00a65a;
}

div.vacaciones{
    background: darkmagenta;
}

div.eventos-ciclo{
    background: #FFABA2; 
}

.lista-periodos thead td{
    font-weight: bold;
    color: black;
}

.ciclosBox{
    margin-top: -187px;
}


.add-alumnos-grupo{
    margin-top: -227px;
}

.add-alumnos-grupo .box-table{
    max-height: 327px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.grupos{
    margin-top: -245px;
}

.box-aulas{
    margin-top: -189px;
}

.box-eventos-ciclo{
    margin-top:-215px;
}

.td-fecha{
    width: 100px;
}

.td-nombre{
    width: 150px;
}

.td-count{
    width: 20px;
}

.ui-widget-content .ui-state-eventos{
    border: 1px solid #acdd4a;
}

.ui-widget-content .ui-state-eventos  a{
    background: #FFABA2;
    border: 1px solid #acdd4a;
}

.table > tbody > tr:nth-child(2n+1) > td.lightgreen{
   background: lightgreen; 
}
.lightgreen{
    background: lightgreen;
}

.ui-tabs .ui-tabs-nav{
    background: white;
    border: none;
}
