html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}


#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */







#list_usu thead td{
	color: white;
	background: #1CC0DA;
	
}


#list_usu td{
	border-color: #1CC0DA;
}




#list_usu tbody tr:hover td a{
	color: white;
}

#list_usu tbody tr td a{
	color: #606060;
}


#tabla{
	width: 100%;
}




#list_usu td .fotousuario {
	background-size: cover;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-position: center center;
	display: inline-block;
}


#list_usu tbody tr td img {
	margin-right: 15px;
	cursor: pointer;
}


#list_usu td button {
	visibility: visible;
	font-size: 10px;
	align-items: flex-start;
	text-align: center;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
	font-weight: 500;
}

#box_emergente.send-email {
    width: 645px;
    margin-left: -352px;
    top: 50px;
}


#box_emergente.send-email input[type="text"] {
    padding-left: 5px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

#box_emergente.send-email input[type="text"] {
    box-shadow: 2px 1px 9px #4e5154;
    -webkit-box-shadow: 2px 1px 9px #4e5154;
    -moz-box-shadow: 2px 1px 9px #4e5154;
}
#box_emergente.send-email #buttonAdjuntar {
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
    color: #606060;
}

#box_emergente.send-email input {
    margin-bottom: 0px;
    width: 637px;
}

#box_emergente p {
    padding-bottom: 20px;
}


#box_emergente h1 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 20px;
}

#box_emergente h1 {
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}

#box_emergente.send-email h1 {
    margin-bottom: 0px;
    color: #4e5154;
}


#box-mensaje {
    position: relative;
    margin-bottom: 10px;
}
