html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

.form li input {
  width: 170px;
}

#files{
    visibility: hidden;
    position: absolute;
    top:-1000px;
}


#box_top h1{
    font-size: 38px;
    color:#1CC0DA;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}



#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#list_usu tbody td{
    padding-left: 5px;
padding-right: 5px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}
#list_usu tbody tr td a{
    text-decoration: underline;
}



#tabla_ofe{
    //width: 600px;
    margin-bottom: 50px;
}
#tabla_ofe td{
    width: 233px;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    padding-right: 30px;
}

table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
   padding-bottom: 25px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}



.seccion .linea{
    display: block;
    width: 64px;
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #1CC0DA;
    margin-bottom: 20px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 588px;

}


#box_emergente table{
    width: 100%;
    margin-bottom: 20px;
}

#box_emergente table thead td{
    padding-bottom: 20px;
}

#box_emergente table tbody td{
    font-size: 14px;
    color: #606060;
    padding-bottom: 5px;
}

#list_usu thead td {
    color: white;
    background: #1CC0DA;
}
#list_usu thead td {
    text-align: center;
    padding-left: 5px;
padding-right: 5px;
}
#list_usu td {
    border-color: #1CC0DA;
}
#tabla_ofe td select{
    width: 200px;
    text-transform: uppercase;
}

#tabla_ofe td input{
    width: 191px;
    text-transform: uppercase;
}

#box_orientacion{
   // widows: 200px;
}

#box_emergente.cursos_alumno{
    width: 650px;
    margin-left: -335px;
}

#box_emergente.box_documentos{
    width: 800px;
    margin-left: -400px;
    min-height: 200px;
}


#box_emergente.box_documentos table thead td {
    padding-bottom: 20px;
    padding-right: 10px;
}

#list_usu td button {
visibility: visible;
font-size: 11px;
align-items: flex-start;
text-align: center;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
font-weight: 500;
}


#list_ofertas li {
 width: 240px;
}

#box_emergente.motivos_baja{
    width: 325px;
    margin-left: -192px;
}

#box_emergente.motivos_baja input {
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

#box_emergente.motivos_baja select {
    width: 329px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

#NombreAlumn{
    display: none;
}


#box_emergente.cambiar_plan{
    width: 308px;
    margin-left: -184px;
}

#box_emergente.cambiar_plan select {
width: 304px;
margin-bottom: 0px;
box-shadow: 2px 1px 9px #1CC0DA;
-webkit-box-shadow: 2px 1px 9px #1CC0DA;
-moz-box-shadow: 2px 1px 9px #1CC0DA;
height: 28px;
border-width: 1px;
border-color: gray;
border-style: solid;
text-transform: uppercase;
}

.box-buttom{
    display: none;
}

.mostrar-opc{
    padding-top: 3px;
    display: block;
    font-size: 10px;
    cursor: pointer;
    padding-bottom: 5px;
}

.box-buttom button{
   width: 135px;
   margin-bottom: 5px;
}

#box_emergente.cambiar-oferta {
    width: 325px;
    margin-left: -192px;
    top: 50px;
}

#box_emergente.cambiar-oferta h1{
    padding-bottom: 10px;
}
#box_emergente.cambiar-oferta p{
    padding-bottom: 10px;
}
#box_emergente.cambiar-oferta select {
    width: 329px;
    margin-bottom: 0px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

#box-documentos-oferta{
    overflow-y: auto;
    overflow-x: hidden;
    height: 375px;
}