html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#box_top{
    margin-bottom: 50px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}



table td{
    vertical-align: top;
}



#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

#tabla{
    width: 100%;
}

.seccion{
    width: auto;
}

.seccion h2{
    text-align: center;
}

.seccion .linea{
    width: 100%;
}

#list-graficas{
    width: 100%;
}
#list-graficas li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;  
    width: 48%;
}

