#box_top h1{
    font-size: 38px;
    color: #606060;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}




#box_top h1 span{
    color: #1CC0DA;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    //margin-right: 65px;
    display: table-cell;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}



#container{
    //height: auto;
}

#box_top{
    margin-bottom: 60px;
}
#lists_seccions{
    display: table;
    width: 100%;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
    width: 170px;
    height: 170px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
}

