html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#contenido .fc:first-letter{
    //text-transform: uppercase;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */







#tabla{
	width: 100%;
}



/**/
#mascara_tabla{
    margin: 40px 10px;
padding: 0;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
font-size: 14px;
}

#box_emergente.eventos{
    width: 310px;
    margin-left: -192px;
    margin-top: -223px;
}

#box_emergente.eventos select{
    width: 308px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 30px;
    text-transform: uppercase;
        border-width: 1px;
    border-color: gray;
    border-style: solid;
}

#box_emergente p {
  padding-bottom: 5px;
}

#box_emergente.eventos input[type="text"], #box_emergente.eventos input[type="date"] {
    padding-left: 5px;
    width: 300px;
    height: 26px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 0px;
}

#box_emergente h1 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 10px;
}

#box_emergente textarea{
    height: 50px;
    width: 303px;
}

.fc th, .fc td{
    cursor: pointer;
}

.box-emergente-form button {
    margin-right: 15px;
    font-size: 16px;
}

.box-emergente-form{
       margin-top: -288px; 
}

.box-filter-reportes ul li:hover {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.disponibles {
    background: #f39c12;
}
.asignadas{
    background: #3a87ad;
}
.vacaciones{
    background: #00c0ef;
}
.inhabiles{
    background: #606060;
}
.box-filter-reportes .box {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.form li .input-buscador{
    width:300px;
}

.Ulbuscador a{
    text-decoration: none;
}

.listas{
    list-style-type: none;
}

.listas li{
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-weight: bold;
}


.listas li i{
    cursor: pointer;
}

.box-emergente-form input[type="text"].buscarFiltro{
    width: 270px;
    margin-right: 10px;
}

.box-emergente-form i{
    cursor: pointer;
}