html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}


#ciclo {
    width: 200px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}
.seccion h2 {
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}




#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}


table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}

.form li #email_int {
    width: 350px;
}

.form li #buscador_int {
    width: 355px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 588px;

}


/**/

.box-justificacion{
    margin-top: -195px;
}
