html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}


.seccion h2 {
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}




#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}

#lists_seccions li{
    list-style-type: none;
    vertical-align: top;
    margin-right: 65px;
    display: inline-block;
    font-size: 13px;
    color: #606060;
    text-align: center;
    padding-bottom: 44px;
}


table td{
    vertical-align: top;
}

#box_top{
    margin-bottom: 30px;
}

#column_two{
    padding-left: 30px;
    width: 330px;
}

#lists_seccions li h2{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

#lists_seccions li img{
    margin-bottom: 10px;
}

#lists_seccions li:last-child{
    margin-right: 0px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */
.seccion{
    padding-bottom: 10px;
}

.seccion h2{
    font-size: 22px;
    color: #606060;
    font-weight: 500;
    padding-bottom: 10px;
}

#tabla {
    width: 100%;
}

.form li #email_int {
    width: 350px;
    border-color: #4e5154;
}

.form li #buscador_int {
    width: 355px;
}

#button_ins{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 588px;

}


/**/

#box_emergente {
    width: 315px;
    margin-left: -187px;
    top: 60px;
}



#box_emergente input {
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

#box_emergente select {
    width: 309px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}
#box_emergente p {
    padding-bottom: 0px;
}

#box_emergente textarea{
    height: 89px;
    width: 303px;
    margin-bottom: 15px;
}

.mostrar-opc{
    padding-bottom: 5px;
    display: block;
}

.box-buttom{
    display: none;
}
.table tr td button {
    width: 108px;
    margin-bottom: 5px;
}

.form li #buscador_int li {
    font-size: 12px;
}

.UlbuscadorReporta {
    position: absolute;
    top: 250px;
    left: 30px;
    background: #1CC0DA;
    z-index: 10;
    box-shadow: 1px 2px 4px gray;
    -webkit-box-shadow: 1px 2px 4px gray;
    -moz-box-shadow: 1px 2px 4px gray;
    text-transform: uppercase;
    max-height: 160px;
    overflow-y: auto;
    width: 308px;
}

.UlbuscadorReporta li {
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.buscarFiltro{
    text-transform: uppercase;
}

#box_emergente input{
    box-shadow: 0px 1px 9px #1CC0DA;
    -webkit-box-shadow: 0px 1px 9px #1CC0DA;
    -moz-box-shadow: 0px 1px 9px #1CC0DA;
    border: 1px solid #bbb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

#box-tipo_usu li{
    list-style-type: none;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    width: 135px;
}

#box-tipo_usu ul{
    margin-bottom: 10px;
}
#box-tipo_usu li input{
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.box-emergente-form{
   margin-top: -253px;
}