html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#column_one{
    width: 100%;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}



#container header{
    position: fixed;
    top:0px;
}

#box_top h1{
    font-size: 38px;
    color: #4b93ad;
    font-weight: 100;
}

#box_top{
    margin-bottom: 30px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}



table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */








#tabla{
    width: 100%;
}



#box_buscador{
    width: 510px;
    height: 164px;
    padding: 25px;
    background: white;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -82px;
    margin-left: -280px;
    box-shadow: 2px 1px 9px gray;
    -webkit-box-shadow: 2px 1px 9px gray;
    -moz-box-shadow: 2px 1px 9px gray;
    visibility: hidden;
    opacity: 0;
}

#box_buscador h1{
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}
#box_buscador h1 img{
    vertical-align: middle;
    margin-right: 10px;
}
#box_buscador input[type="text"]{
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}

#box_buscador ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    font-size: 12px;
}

#box_buscador ul li input{
    margin-right: 10px;
}

#box_buscador span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}



#box_form h1{
    font-size: 25px;
    color: #39D6A4;
    font-weight: 100;
    padding-bottom: 15px
}

#box_form p{
    padding-bottom: 15px;
    font-size: 13px;
}
#box_form{
    padding: 20px;
    background: white;
    position: relative;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 294px;
}

#box_form p.titulo{
    padding-bottom: 5px;
}
#box_form button{
    background: #39D6A4;
    padding: 8px 13px 8px 13px;
    font-size: 13px;
    margin-left: 181px;

}

#box_menus #usu_login{
    color: #48CFA4;
}
#mostrar {
    color: #48CFA4;
}

#box_form input:focus {
    outline: none;
}

#box_form input{
    width: 250px;
    height: 25px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: none;
    background: #606060;
    background-color: rgba(96, 96, 96, 0.2);
}

#box_menus h2{
    color: black;
}

#box_menus ul li{
    border-color: #48CFA4;
}

#box_emergente{
    color: black;	
}
#box_emergente h1 {
    font-size: 30px;
    padding-left: 10px;

    font-weight: 100;
    margin-bottom: 15px;

    padding-bottom: 0px;
}


#box_emergente.box_historial table td{
    font-size: 10px;
}

#box_emergente.box_historial table td i{
    font-size: 12px;
    margin-right: 6px;
    cursor: pointer;
}

#box_emergente.box_historial table td i:hover{
    color: black;
}

#box_emergente table td button{
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-right: 0px;
}

#box_emergente p {
    padding-bottom: 20px;
}

#box_emergente button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 25px;
    background: #4b93ad;
}

#box_emergente span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}

#box_emergente h1 img {
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -5px;
}

#box_emergente table{
    width: 100%;
    margin-bottom: 20px;
}
#box_emergente table td{
    padding-bottom: 10px;
    font-size: 13px;
}
#box_emergente table td select{
    width: 230px;
}
#box_emergente table td input{
    width: 223px;
    height: 24px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}


.titulo{
    font-size: 16px;
    color: #48CFA4;
    font-weight: 100;
    margin-bottom: 6px;
    font-weight: 500;
    color: gray;
}



#box_emergente #buscar {
    padding-left: 5px;
    width:auto;
    height: auto;
    border:auto;

}


#Nombre{
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

#box_emergente table tr td:first-child{
    font-weight: bold;
}

#box_emergente table thead td{
    font-weight: bold;
}



#box_emergente.box_historial tfoot td{
    padding-top: 10px
}


.pagado{
    background: #48CFc2;
    color: white;
}

.box_seg{
    width: 160px;
}

/*
#box_emergente.box_historial textarea{
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 2px 1px 9px #48CFA4;
-webkit-box-shadow: 2px 1px 9px #48CFA4;
-moz-box-shadow: 2px 1px 9px #48CFA4;
}
*/

#box_emergente.box_historial #comentario{
    max-width: 100%;
    margin-bottom: 0px;
    width: 270px;
    height: 125px;
    margin-right: 20px;
}
#box_emergente.box_historial #tabla_comentarios td {
    font-size: 13px;
    padding-right: 10px;
}
#box_emergente.box_historial #tabla_comentarios tbody tr td:first-child{
    font-weight: normal;
}




#box_tabla_seg{
    height: 130px;
    overflow-y: auto;
}

#box_emergente.box_factura{
    width: 800px;
    max-width: 800px;
    margin-left: -400px;
}
#box_emergente.box_factura ul li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 15px;
}


#box_emergente.box_factura ul li input{
    width: 223px;
    height: 24px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#box_emergente.box_factura ul li input:focus{
    background-color: #f6f6f6;
    border-color: #cacaca;
    -webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
    -moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
    box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
}
#box_emergente.box_factura ul li select{
    width: 223px;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}




#box_emergente.box_historial{
    width: 800px;
    margin-left: -400px;
}

.list_usu tbody tr  td.menu{
    width: 190px;
}

.seguimiento{
    width: 90px;
    margin-bottom: 2px;
}

.pagar{
    width: 49px;
}



#info_alumn{
    width: 850px;
    margin-bottom: 10px;
}

#info_alumn td{
    text-align: left;
    padding-bottom: 5px;
    font-family: arial;
    color: navy;
    font-size: small;
}

#info_alumn th{
    padding-bottom: 5px;   
    color: navy;
    font-size: small;
}

.list_usu tbody tr:hover {
    text-decoration: none;
}

.list_usu thead tr:first-child td {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


.list_usu{
    width: 99%;
    border-spacing: 1px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.list_usu thead td{
    text-align: center;
    color: white;
    background: #4b93ad;
    vertical-align: top;
    text-align: left;
    border: none;
}



.list_usu thead tr{
    // border: none;	
}


.list_usu td{
    font-size: 9px;
    padding-bottom: 10px;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #1CC0DA;
    border-style: solid;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    border-color: #4b93ad;
    color: black;

}

.list_usu tbody td{
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
}

.list_usu tbody td .box_acciones{
    position: absolute;
    right: 0px;
}
.list_usu tbody tr:first-child td{
    padding-top: 10px;
}


.list_usu tbody tr:hover{
    text-decoration: underline;
}

.list_usu tbody tr td a{
    text-decoration: none;
    color: #606060;
}



.list_usu td{
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}


.list_usu td button {
    visibility: visible;
    font-size: 10px;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font-weight: 500;
}

.list_usu  tfoot td{
    font-weight: bold;
}

#info_alumn table {
    text-transform: uppercase;
}

.list_usu tbody tr td img {
    /* margin-right: 15px; */
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 6px;
}



.box-buttom{
    display: none;
}

.mostrar-opc{
    padding-bottom: 5px;
    display: block;
}

.red{
    font-size: 15px;
    margin-bottom: 10px;
    color: red;
}


.green{
    font-size: 15px;
    margin-bottom: 10px;
    color: green;
}


/**/
#estado-cuenta{
    width: 100%;
}

#seccion-cargos{
    padding-right: 50px;
}
.table tr td i{
    font-size: 13px;
    cursor: pointer;
    margin-left: 2px;
}
.table{
    margin-bottom: 0px;
}
.table tr td {
    vertical-align: middle;
}

.table tr.adeudo td {
  background-color: lightgreen;  
}

.table > tbody > tr.adeudo:nth-child(2n+1) > td {
    background-color: lightgreen;
}


.table tr.miscelaneo td {
  background-color: lightgreen;  
}

.table > tbody > tr.miscelaneo:nth-child(2n+1) > td {
    background-color: lightblue;
}

.table tr.recargo td {
  background-color: pink;  
}

.table > tbody > tr.recargo:nth-child(2n+1) > td {
    background-color: pink;
}

.table tr td.clave-ciclo{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.table > tbody > tr td.right{
    text-align: right;
}
#box_top h1 {
    font-size: 38px;
    color: #4e5154;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
}



.table thead tr td{
    vertical-align: top;
}
.boton-normal{
    margin-right: 5px;
    margin-bottom: 25px;
}


#mostrar-box-pago,#add_pago_miscelaneo, #buttonBancario{
    margin-bottom: 15px;
}

.box-emergente-form p{
   padding-bottom: 15px; 
}

.box-miscelaneo{
    margin-top: -198px;
}


.box-recargos{
    margin-top: -130px;
}

.box-pagos{
    margin-top: -230px;
}

.box-feha-cargo{
    margin-top: -130px;
}

.box-feha-descuento{
  margin-top: -130px;  
}

.box-fecha-recargo{
  margin-top: -130px;   
}