html, body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container{
    padding-top: 90px;
    min-height: -moz-calc(100% - 185px);
    min-height: -webkit-calc(100% - 185px);
    min-height: -o-calc(100% - 185px);
    min-height: calc(100% - 185px);
}

#container header{
    position: fixed;
    top:0px;
}

#box_top{
    margin-bottom: 30px;
}

#box_top h1 span{
    color: #1CC0DA;
}

#box_top img{
    vertical-align: middle;
    margin-right: 15px;
}



table td{
    vertical-align: top;
}


#column_two{
    padding-left: 30px;
    width: 330px;
}

#contenido{
    /* Firefox */
    height: -moz-calc(100% - 50px);

    /* WebKit */
    height: -webkit-calc(100% - 50px);

    /* Opera */
    height: -o-calc(100% - 50px);

    /* Standard */
    height: calc(100% - 50px);
}

/* */







#tabla{
    width: 100%;
}



#box_buscador{
    width: 510px;
    height: 164px;
    padding: 25px;
    background: white;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -82px;
    margin-left: -280px;
    box-shadow: 2px 1px 9px gray;
    -webkit-box-shadow: 2px 1px 9px gray;
    -moz-box-shadow: 2px 1px 9px gray;
    visibility: hidden;
    opacity: 0;
}

#box_buscador h1{
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}
#box_buscador h1 img{
    vertical-align: middle;
    margin-right: 10px;
}
#box_buscador input[type="text"]{
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}

#box_buscador ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    font-size: 12px;
}

#box_buscador ul li input{
    margin-right: 10px;
}

#box_buscador span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
}


#box_emergente input[type="text"] {
    padding-left: 5px;
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    margin-bottom: 15px;
}

#box_emergente h1 {
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    margin-bottom: 15px;
}
.spanEmail{
    position: absolute;
    right: 37px;
    top: 40px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

#box-mensaje{
    position: relative;
    margin-bottom: 10px;
    //height: 200px;
}

#box-box{
    position: relative;
}

#box_emergente.send-email span{
    position: inherit;
    top: 0px;
    right: 0px;
    cursor: initial;
}

#box_emergente.send-email input{
    margin-bottom: 0px;
    width: 637px;
}

#box_emergente.send-email h1{
    margin-bottom: 0px;
}


#box_emergente.send-email {
    width: 645px;
    margin-left: -352px;
    top: 50px;
}




#box_emergente.send-email #buttonAdjuntar{
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
    color: #606060;
}

#files{
    position: absolute;
    visibility: hidden;
}


#box_emergente.box-egresar {
    width: 325px;
    margin-left: -192px;
    top: 120px;
}
#box_emergente.box-egresar p {
    padding-bottom: 15px;
}
#box_emergente.box-egresar select {
    width: 309px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 9px #1CC0DA;
    -webkit-box-shadow: 2px 1px 9px #1CC0DA;
    -moz-box-shadow: 2px 1px 9px #1CC0DA;
    height: 28px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-transform: uppercase;
}

#box_emergente.box-egresar h1 {
    margin-bottom: 0px;
    font-size: 37px;
    color: #1CC0DA;
    font-weight: 100;
    padding-bottom: 15px;
}
