html, body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

#container{
	padding-top: 90px;
	min-height: -moz-calc(100% - 185px);
	min-height: -webkit-calc(100% - 185px);
	min-height: -o-calc(100% - 185px);
	min-height: calc(100% - 185px);
}

#container header{
	position: fixed;
	top:0px;
}

#box_top{
	margin-bottom: 30px;
}

#box_top h1 span{
	color: #1CC0DA;
}

#box_top img{
	vertical-align: middle;
	margin-right: 15px;
}



table td{
	vertical-align: top;
}


#column_two{
	padding-left: 30px;
	width: 330px;
}

#contenido{
			/* Firefox */
	height: -moz-calc(100% - 50px);
	
	/* WebKit */
	height: -webkit-calc(100% - 50px);
	
	/* Opera */
	height: -o-calc(100% - 50px);
	
	/* Standard */
	height: calc(100% - 50px);
}

/* */







#tabla{
	width: 100%;
}



#box_buscador{
	width: 510px;
	height: 164px;
	padding: 25px;
	background: white;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -82px;
	margin-left: -280px;
	box-shadow: 2px 1px 9px gray;
	-webkit-box-shadow: 2px 1px 9px gray;
	-moz-box-shadow: 2px 1px 9px gray;
	visibility: hidden;
	opacity: 0;
}

#box_buscador h1{
	font-size: 37px;
	color: #1CC0DA;
	font-weight: 100;
	margin-bottom: 15px;
}
#box_buscador h1 img{
	vertical-align: middle;
	margin-right: 10px;
}
#box_buscador input[type="text"]{
	padding-left: 5px;
	width: 500px;
	height: 40px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	box-shadow: 2px 1px 9px #1CC0DA;
	-webkit-box-shadow: 2px 1px 9px #1CC0DA;
	-moz-box-shadow: 2px 1px 9px #1CC0DA;
	margin-bottom: 15px;
}

#box_buscador ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
	font-size: 12px;
}

#box_buscador ul li input{
	margin-right: 10px;
}

#box_buscador span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 13px;
}


.table tbody td span {
font-weight: bold;
color: black;
}

.table td {
    font-size: 9px;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: #4b93ad;
}

.horas_docente_asignadas {
    background: #4b93ad;
    color: white;
}



.table > tbody > tr:nth-child(2n+1) > td.horas_docente_asignadas{
    background: #4b93ad;
    color: white;
}

.table tbody tr td:first-child {
color: black;
font-weight: bold;
vertical-align: middle;
}


.table > tbody > tr:nth-child(2n+1) > td {
   background: #f7f7f7;
}
.table tbody tr td{
    background: #f7f7f7;
}

.table tbody tr.totales td{
    background: white;
    font-weight: bold;
}

#box_emergente.documentos_faltantes{
    width: 750px;
    margin-left: -405px;
}

#box_emergente.documentos_faltantes table td{
    vertical-align: middle;
}
#box_emergente.documentos_faltantes table{
    margin-bottom: 10px;
}


#box_emergente.documentos_faltantes table tr.permuta td{
    background: lemonchiffon;
}